Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin

Fix OpenAPI file handling in Dockerfile
  Dockerfile
Owners: @username/backend-team

Fix OpenAPI file handling in Dockerfile
  Dockerfile
Owners: @username/backend-team

Fix OpenAPI handling by ensuring file exists in workflow
  .github/workflows/deploy-to-production.yml
  Dockerfile
Owners: @username/devops-team, @username/backend-team

Fix OpenAPI handling by ensuring file exists in workflow
  .github/workflows/deploy-to-production.yml
  Dockerfile
Owners: @username/devops-team, @username/backend-team

Simplify workflow to focus on frontend deployment
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Simplify workflow to focus on frontend deployment
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Re-enable backend deployment with improved OpenAPI handling
  .github/workflows/deploy-to-production.yml
  Dockerfile
Owners: @username/devops-team, @username/backend-team

Re-enable backend deployment with improved OpenAPI handling
  .github/workflows/deploy-to-production.yml
  Dockerfile
Owners: @username/devops-team, @username/backend-team

build: stop regenerating openapi.gen.go in Docker build (fix deployment)
  Dockerfile
Owners: @username/backend-team

build: stop regenerating openapi.gen.go in Docker build (fix deployment)
  Dockerfile
Owners: @username/backend-team

Update security middleware, entrypoint script, and UI components. Add deployment files and SQL migrations. Update .gitignore to exclude large files.
  .gitignore
  Dockerfile.with-migrations
  deploy-ptchampion.sh
  internal/api/middleware/security.go
  ios/ptchampion/ptchampion.xcodeproj/project.xcworkspace/xcuserdata/brendantoole.xcuserdatad/UserInterfaceState.xcuserstate
  nginx.conf
  scripts/entrypoint.sh
  sql/migrations/20250421_add_password_hash_column.sql
  sql/migrations/20250422_add_profile_picture_url_column.sql
  sql/schema/password_column_fix.sql
  terraform/production/README.md
  terraform/production/main.tf
  terraform/production/terraform.tfvars
  terraform/production/terraform.tfvars.example
  terraform/production/variables.tf
  web/src/index.css
  web/src/pages/auth/Register.tsx
Owners: @username/ptchampion-admin, @username/backend-team, @username/ios-team, @username/web-team

Update security middleware, entrypoint script, and UI components. Add deployment files and SQL migrations. Update .gitignore to exclude large files.
  .gitignore
  Dockerfile.with-migrations
  deploy-ptchampion.sh
  internal/api/middleware/security.go
  ios/ptchampion/ptchampion.xcodeproj/project.xcworkspace/xcuserdata/brendantoole.xcuserdatad/UserInterfaceState.xcuserstate
  nginx.conf
  scripts/entrypoint.sh
  sql/migrations/20250421_add_password_hash_column.sql
  sql/migrations/20250422_add_profile_picture_url_column.sql
  sql/schema/password_column_fix.sql
  terraform/production/README.md
  terraform/production/main.tf
  terraform/production/terraform.tfvars
  terraform/production/terraform.tfvars.example
  terraform/production/variables.tf
  web/src/index.css
  web/src/pages/auth/Register.tsx
Owners: @username/ptchampion-admin, @username/backend-team, @username/ios-team, @username/web-team

Update authentication components and API client
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
  web/src/pages/auth/Login.tsx
Owners: @username/web-team

Update authentication components and API client
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
  web/src/pages/auth/Login.tsx
Owners: @username/web-team

Update authentication and add token cleaner
  debug_tools/find-tools.html
  debug_tools/guide.html
  debug_tools/guide.md
  debug_tools/index.html
  debug_tools/tools.html
  terraform/production/tfplan
  web/index.html
  web/src/App.tsx
  web/src/components/auth/ProtectedRoute.tsx
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
  web/src/lib/secureStorage.ts
  web/src/lib/tokenCleaner.ts
  web/src/main.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Leaderboard.tsx
  web/src/pages/auth/Login.tsx
Owners: @username/ptchampion-admin, @username/web-team

Update authentication and add token cleaner
  debug_tools/find-tools.html
  debug_tools/guide.html
  debug_tools/guide.md
  debug_tools/index.html
  debug_tools/tools.html
  terraform/production/tfplan
  web/index.html
  web/src/App.tsx
  web/src/components/auth/ProtectedRoute.tsx
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
  web/src/lib/secureStorage.ts
  web/src/lib/tokenCleaner.ts
  web/src/main.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Leaderboard.tsx
  web/src/pages/auth/Login.tsx
Owners: @username/ptchampion-admin, @username/web-team

Update UI components and dashboard layout
  web/src/assets/pt_champion_logo.png
  web/src/assets/pullup.png
  web/src/assets/pushup.png
  web/src/assets/running.png
  web/src/assets/situp.png
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/metric-card.tsx
  web/src/components/ui/theme.css
  web/src/index.css
  web/src/pages/Dashboard.tsx
  web/tailwind.config.cjs
Owners: @username/web-team

Update UI components and dashboard layout
  web/src/assets/pt_champion_logo.png
  web/src/assets/pullup.png
  web/src/assets/pushup.png
  web/src/assets/running.png
  web/src/assets/situp.png
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/metric-card.tsx
  web/src/components/ui/theme.css
  web/src/index.css
  web/src/pages/Dashboard.tsx
  web/tailwind.config.cjs
Owners: @username/web-team

Update API implementation and auth system
  Plan.md
  cmd/server/main.go
  deploy-ptchampion.sh
  go.mod
  go.sum
  internal/api/api_handler.go
  internal/api/middleware/auth_middleware.go
  internal/api/middleware/logging.go
  internal/api/router.go
  internal/api/routes/auth.go
  internal/api/routes/routes.go
  internal/auth/token.go
  internal/auth/token_service.go
  internal/config/config.go
  internal/logging/logger.go
  internal/store/postgres/leaderboard.go
  internal/store/postgres/store.go
  internal/store/redis/client.go
  internal/store/redis/config.go
  internal/store/redis/refresh_store.go
  latest_logs.zip
  sql/migrations/003_auth_cleanup.sql
Owners: @username/ptchampion-admin, @username/backend-team

Update API implementation and auth system
  Plan.md
  cmd/server/main.go
  deploy-ptchampion.sh
  go.mod
  go.sum
  internal/api/api_handler.go
  internal/api/middleware/auth_middleware.go
  internal/api/middleware/logging.go
  internal/api/router.go
  internal/api/routes/auth.go
  internal/api/routes/routes.go
  internal/auth/token.go
  internal/auth/token_service.go
  internal/config/config.go
  internal/logging/logger.go
  internal/store/postgres/leaderboard.go
  internal/store/postgres/store.go
  internal/store/redis/client.go
  internal/store/redis/config.go
  internal/store/redis/refresh_store.go
  latest_logs.zip
  sql/migrations/003_auth_cleanup.sql
Owners: @username/ptchampion-admin, @username/backend-team

Update handlers and router implementation
  internal/api/handlers/auth.go
  internal/api/handlers/auth_handler.go
  internal/api/handlers/leaderboard.go
  internal/api/handlers/leaderboard_handler.go
  internal/api/router.go
  internal/api/router_test.go
  internal/store/redis/leaderboard_cache.go
Owners: @username/backend-team

Update handlers and router implementation
  internal/api/handlers/auth.go
  internal/api/handlers/auth_handler.go
  internal/api/handlers/leaderboard.go
  internal/api/handlers/leaderboard_handler.go
  internal/api/router.go
  internal/api/router_test.go
  internal/store/redis/leaderboard_cache.go
Owners: @username/backend-team

Update API handlers and middleware, add auth middleware test
  internal/api/api_handler.go
  internal/api/handlers/user_handler.go
  internal/api/middleware/auth_middleware.go
  internal/api/middleware/auth_middleware_test.go
Owners: @username/backend-team

Update API handlers and middleware, add auth middleware test
  internal/api/api_handler.go
  internal/api/handlers/user_handler.go
  internal/api/middleware/auth_middleware.go
  internal/api/middleware/auth_middleware_test.go
Owners: @username/backend-team

Update API handlers, middleware, and database schema
  apply_schema_fixes.sh
  cmd/server/main.go
  fix_db_schema.sql
  internal/api/handlers/auth_handler.go
  internal/api/handlers/user_handler.go
  internal/api/middleware/auth_middleware.go
  internal/api/middleware/auth_middleware_test.go
  internal/api/router.go
  internal/api/routes/auth.go
  internal/api/routes/routes.go
  internal/auth/token.go
Owners: @username/ptchampion-admin, @username/backend-team

Update API handlers, middleware, and database schema
  apply_schema_fixes.sh
  cmd/server/main.go
  fix_db_schema.sql
  internal/api/handlers/auth_handler.go
  internal/api/handlers/user_handler.go
  internal/api/middleware/auth_middleware.go
  internal/api/middleware/auth_middleware_test.go
  internal/api/router.go
  internal/api/routes/auth.go
  internal/api/routes/routes.go
  internal/auth/token.go
Owners: @username/ptchampion-admin, @username/backend-team

Update router.go and routes.go
  internal/api/router.go
  internal/api/routes/routes.go
Owners: @username/backend-team

Update router.go and routes.go
  internal/api/router.go
  internal/api/routes/routes.go
Owners: @username/backend-team

Update web UI components and assets
  web/index.html
  web/public/apple-touch-icon.png
  web/public/assets/icons/icon-128x128.png
  web/public/assets/icons/icon-144x144.png
  web/public/assets/icons/icon-152x152.png
  web/public/assets/icons/icon-192x192.png
  web/public/assets/icons/icon-384x384.png
  web/public/assets/icons/icon-512x512.png
  web/public/assets/icons/icon-72x72.png
  web/public/assets/icons/icon-96x96.png
  web/public/assets/icons/maskable-icon-512x512.png
  web/public/favicon-16.png
  web/public/favicon-32.png
  web/public/manifest.json
  web/public/pt_champion_logo.png
  web/public/safari-pinned-tab.svg
  web/src/App.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/dashboard-message-context.tsx
  web/src/index.css
  web/src/lib/apiClient.ts
  web/src/pages/Dashboard.tsx
Owners: @username/web-team

Update web UI components and assets
  web/index.html
  web/public/apple-touch-icon.png
  web/public/assets/icons/icon-128x128.png
  web/public/assets/icons/icon-144x144.png
  web/public/assets/icons/icon-152x152.png
  web/public/assets/icons/icon-192x192.png
  web/public/assets/icons/icon-384x384.png
  web/public/assets/icons/icon-512x512.png
  web/public/assets/icons/icon-72x72.png
  web/public/assets/icons/icon-96x96.png
  web/public/assets/icons/maskable-icon-512x512.png
  web/public/favicon-16.png
  web/public/favicon-32.png
  web/public/manifest.json
  web/public/pt_champion_logo.png
  web/public/safari-pinned-tab.svg
  web/src/App.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/dashboard-message-context.tsx
  web/src/index.css
  web/src/lib/apiClient.ts
  web/src/pages/Dashboard.tsx
Owners: @username/web-team

Update web application files
  web/index.html
  web/src/lib/apiClient.ts
  web/src/lib/secureStorage.ts
  web/src/lib/tokenCleaner.ts
  web/src/main.tsx
  web/src/pages/Exercises.tsx
  web/src/pages/auth/Login.tsx
Owners: @username/web-team

Update web application files
  web/index.html
  web/src/lib/apiClient.ts
  web/src/lib/secureStorage.ts
  web/src/lib/tokenCleaner.ts
  web/src/main.tsx
  web/src/pages/Exercises.tsx
  web/src/pages/auth/Login.tsx
Owners: @username/web-team

iOS app updates including Swift files, font script, and project config
  ios/ptchampion/CopyFonts.sh
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/SupportingFiles/Info.plist
  ios/ptchampion/Theme/AppTheme.swift
  ios/ptchampion/ViewModels/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Views/Authentication/LoginView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

iOS app updates including Swift files, font script, and project config
  ios/ptchampion/CopyFonts.sh
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/SupportingFiles/Info.plist
  ios/ptchampion/Theme/AppTheme.swift
  ios/ptchampion/ViewModels/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Views/Authentication/LoginView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Fix Xcode project configuration
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Fix Xcode project configuration
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Update iOS app files and add new view directories
  fix-fonts.sh
  fix-xcode-project-v2.sh
  fix-xcode-project.sh
  ios/ptchampion/Models/AppModels.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/PTChampionImports.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Settings/SettingsView.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.bak
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.fixed.backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.fonts-backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.v2.backup
Owners: @username/ptchampion-admin, @username/ios-team

Update iOS app files and add new view directories
  fix-fonts.sh
  fix-xcode-project-v2.sh
  fix-xcode-project.sh
  ios/ptchampion/Models/AppModels.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/PTChampionImports.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Settings/SettingsView.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.bak
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.fixed.backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.fonts-backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.v2.backup
Owners: @username/ptchampion-admin, @username/ios-team

Fix iOS build errors by removing duplicate nested directories in Views, Models, and ViewModels
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/Models/Enums.swift
  ios/ptchampion/Models/LeaderboardModels.swift
  ios/ptchampion/Models/PoseModels.swift
  ios/ptchampion/Models/User.swift
  ios/ptchampion/Models/UserProfileModels.swift
  ios/ptchampion/Models/WorkoutModels.swift
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/DeviceScanningViewModel.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/ViewModels/ProgressViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift.bak
  ios/ptchampion/Views/ContentView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Progress/ProgressView.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryRow.swift
  ios/ptchampion/Views/Utility/CameraPreviewView.swift
  ios/ptchampion/Views/Utility/DeviceScanningView.swift
  ios/ptchampion/Views/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/Views/Workouts/PoseOverlayView.swift
  ios/ptchampion/Views/Workouts/RunWorkoutView.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Fix iOS build errors by removing duplicate nested directories in Views, Models, and ViewModels
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/Models/Enums.swift
  ios/ptchampion/Models/LeaderboardModels.swift
  ios/ptchampion/Models/PoseModels.swift
  ios/ptchampion/Models/User.swift
  ios/ptchampion/Models/UserProfileModels.swift
  ios/ptchampion/Models/WorkoutModels.swift
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/DeviceScanningViewModel.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/ViewModels/ProgressViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift.bak
  ios/ptchampion/Views/ContentView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Progress/ProgressView.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryRow.swift
  ios/ptchampion/Views/Utility/CameraPreviewView.swift
  ios/ptchampion/Views/Utility/DeviceScanningView.swift
  ios/ptchampion/Views/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/Views/Workouts/PoseOverlayView.swift
  ios/ptchampion/Views/Workouts/RunWorkoutView.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team
