Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin

Auto-commit: Fri May 2 21:40:40 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardViewDebug.swift
  ios/ptchampion/Views/Leaderboards/README_LEADERBOARD_DEBUG.md
Owners: @username/ios-team

Auto-commit: Fri May 2 21:40:40 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardViewDebug.swift
  ios/ptchampion/Views/Leaderboards/README_LEADERBOARD_DEBUG.md
Owners: @username/ios-team

Fix actor isolation errors in LeaderboardViewModel
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Fix actor isolation errors in LeaderboardViewModel
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Fix actor isolation errors in LeaderboardViewModel
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Fix actor isolation errors in LeaderboardViewModel
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Fix all actor isolation errors in LeaderboardViewModel
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Fix all actor isolation errors in LeaderboardViewModel
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Auto-commit: Fri May 2 22:30:55 EDT 2025
  ~/cursor-scripts/github-mcp.sh
Owners: @username/ptchampion-admin

Auto-commit: Fri May 2 22:30:55 EDT 2025
  ~/cursor-scripts/github-mcp.sh
Owners: @username/ptchampion-admin

Update PTChampionApp.swift and LeaderboardViewModel.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Update PTChampionApp.swift and LeaderboardViewModel.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 07:50:00 EDT 2025
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 07:50:00 EDT 2025
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 08:11:47 EDT 2025
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LeaderboardServiceProtocol.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/Services/LocationServiceProtocol.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 08:11:47 EDT 2025
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LeaderboardServiceProtocol.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/Services/LocationServiceProtocol.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 08:35:06 EDT 2025
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardRowPlaceholder.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 08:35:06 EDT 2025
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardRowPlaceholder.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 09:26:51 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationServiceProtocol.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 09:26:51 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationServiceProtocol.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 09:45:47 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 09:45:47 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 11:58:26 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LeaderboardServiceProtocol.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardViewDebug.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 11:58:26 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LeaderboardServiceProtocol.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardViewDebug.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 13:17:31 EDT 2025
  ios/STYLING_INTEGRATION_PLAN.md
Owners: @username/ios-team

Auto-commit: Sat May 3 13:17:31 EDT 2025
  ios/STYLING_INTEGRATION_PLAN.md
Owners: @username/ios-team

Auto-commit: Sat May 3 13:54:24 EDT 2025
  ios/.swiftlint.yml
  ios/STYLING_INTEGRATION_PLAN.md
  ios/STYLING_VERIFICATION_CHECKLIST.md
  ios/ptchampion/.swiftlint.yml
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/PTChampionDesignSystem.docc/DesignTokens.md
  ios/ptchampion/Tests/ComponentSnapshotTests.swift
  ios/ptchampion/Theme/CardStyles.swift
  ios/ptchampion/Theme/DynamicTypeExtensions.swift
  ios/ptchampion/Theme/TextFieldStyles.swift
  ios/ptchampion/Theme/ThemeManager.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/Spinner.swift
  ios/ptchampion/Views/Shared/Toast.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
Owners: @username/ios-team

Auto-commit: Sat May 3 13:54:24 EDT 2025
  ios/.swiftlint.yml
  ios/STYLING_INTEGRATION_PLAN.md
  ios/STYLING_VERIFICATION_CHECKLIST.md
  ios/ptchampion/.swiftlint.yml
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/PTChampionDesignSystem.docc/DesignTokens.md
  ios/ptchampion/Tests/ComponentSnapshotTests.swift
  ios/ptchampion/Theme/CardStyles.swift
  ios/ptchampion/Theme/DynamicTypeExtensions.swift
  ios/ptchampion/Theme/TextFieldStyles.swift
  ios/ptchampion/Theme/ThemeManager.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/Spinner.swift
  ios/ptchampion/Views/Shared/Toast.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
Owners: @username/ios-team

Auto-commit: Sun May 4 12:53:42 EDT 2025
  Package.swift
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/Components.build/output-file-map.json
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/Components.build/sources
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/DesignTokens.d
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/DesignTokens.emit-module.d
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/DesignTokens.swift.o
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/DesignTokens.swiftdeps
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/master.priors
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/output-file-map.json
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/resource_bundle_accessor.d
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/resource_bundle_accessor.swiftdeps
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/resource_bundle_accessor.swiftdeps~
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/sources
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/PTDesignSystem_DesignTokens.bundle/Colors.xcassets/Contents.json
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/description.json
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/records/1N/AppTheme.swift-3KJYGW99MVJ1N
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/records/E6/DesignTokens.swift-BRS5WU80PBE6
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/records/VY/AppTheme+Generated.swift-4U1W5GS84TVY
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/AppTheme+Generated.swift.o-ZYD9M06YU1CC
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/AppTheme.swift.o-31CIL0YQGFTS1
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/DesignTokens.swift.o-A1G0L3ULEUZY
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/ThemeManager.swift.o-2UX0RWIKQ9Q67
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/resource_bundle_accessor.swift.o-2Q8QA53P5JXUG
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/plugin-tools-description.json
  ios/PTDesignSystem/.build/build.db
  ios/PTDesignSystem/.build/debug.yaml
  ios/PTDesignSystem/.build/plugin-tools.yaml
  ios/PTDesignSystem/Package.swift
  ios/PTDesignSystem/Sources/PTDesignSystem/Umbrella.swift
  ios/PTDesignSystem/build.log
  ios/build.log
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Sun May 4 12:53:42 EDT 2025
  Package.swift
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/Components.build/output-file-map.json
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/Components.build/sources
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/DesignTokens.d
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/DesignTokens.emit-module.d
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/DesignTokens.swift.o
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/DesignTokens.swiftdeps
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/master.priors
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/output-file-map.json
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/resource_bundle_accessor.d
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/resource_bundle_accessor.swiftdeps
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/resource_bundle_accessor.swiftdeps~
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/DesignTokens.build/sources
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/PTDesignSystem_DesignTokens.bundle/Colors.xcassets/Contents.json
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/description.json
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/records/1N/AppTheme.swift-3KJYGW99MVJ1N
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/records/E6/DesignTokens.swift-BRS5WU80PBE6
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/records/VY/AppTheme+Generated.swift-4U1W5GS84TVY
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/AppTheme+Generated.swift.o-ZYD9M06YU1CC
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/AppTheme.swift.o-31CIL0YQGFTS1
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/DesignTokens.swift.o-A1G0L3ULEUZY
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/ThemeManager.swift.o-2UX0RWIKQ9Q67
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/index/store/v5/units/resource_bundle_accessor.swift.o-2Q8QA53P5JXUG
  ios/PTDesignSystem/.build/arm64-apple-macosx/debug/plugin-tools-description.json
  ios/PTDesignSystem/.build/build.db
  ios/PTDesignSystem/.build/debug.yaml
  ios/PTDesignSystem/.build/plugin-tools.yaml
  ios/PTDesignSystem/Package.swift
  ios/PTDesignSystem/Sources/PTDesignSystem/Umbrella.swift
  ios/PTDesignSystem/build.log
  ios/build.log
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ptchampion-admin, @username/ios-team

Remove sensitive information from repository
  .build/plugins/cache/DesignTokenGenPlugin-state.json
Owners: @username/ptchampion-admin

Remove sensitive information from repository
  .build/plugins/cache/DesignTokenGenPlugin-state.json
Owners: @username/ptchampion-admin

Auto-commit: Sun May 4 13:00:39 EDT 2025
  .gitignore
Owners: @username/ptchampion-admin

Auto-commit: Sun May 4 13:00:39 EDT 2025
  .gitignore
Owners: @username/ptchampion-admin

Auto-commit: Sun May 4 13:19:02 EDT 2025
  ios/ptchampion/DesignSystemIntegration.swift
  ios/ptchampion/PTChampionTests/DesignSystemSnapshotTests.swift
  ios/ptchampion/Utils/AppAppearance.swift
  ios/ptchampion/Utils/Theme.swift
  ios/ptchampion/Utils/UIColorContrastChecker.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Progress/ProgressView.swift
  ios/ptchampion/Views/Shared/PTButton.swift
  ios/ptchampion/Views/Shared/PTLabel.swift
  ios/ptchampion/Views/Shared/PTTextField.swift
  ios/ptchampion/Views/Shared/Separator.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryRow.swift
  ios/update-color-references.sh
  ios/update-design-system-imports.sh
  ios/update-design-system-references.sh
Owners: @username/ios-team

Auto-commit: Sun May 4 13:19:02 EDT 2025
  ios/ptchampion/DesignSystemIntegration.swift
  ios/ptchampion/PTChampionTests/DesignSystemSnapshotTests.swift
  ios/ptchampion/Utils/AppAppearance.swift
  ios/ptchampion/Utils/Theme.swift
  ios/ptchampion/Utils/UIColorContrastChecker.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Progress/ProgressView.swift
  ios/ptchampion/Views/Shared/PTButton.swift
  ios/ptchampion/Views/Shared/PTLabel.swift
  ios/ptchampion/Views/Shared/PTTextField.swift
  ios/ptchampion/Views/Shared/Separator.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryRow.swift
  ios/update-color-references.sh
  ios/update-design-system-imports.sh
  ios/update-design-system-references.sh
Owners: @username/ios-team

Auto-commit: Sun May 4 17:30:29 EDT 2025
  design-tokens/build-tokens.js
  design-tokens/build-tokens.updated.bak
  design-tokens/design-tokens.json
  design-tokens/install-ios-tokens.sh
  design-tokens/install-ios.sh.bak
  design-tokens/style-dictionary.config.js
  design-tokens/style-dictionary.config.old.js
  design-tokens/style-dictionary.config.updated.bak
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/PTDesignSystem/Package.swift
  ios/PTDesignSystem/Sources/DesignTokens/Generated/AppTheme+Generated.swift
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Accent.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/ArmyTan.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Background.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/BrassGold.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/CardBackground.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/CommandBlack.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Cream.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/CreamDark.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/DeepOps.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Error.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Info.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/OliveMist.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Primary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Secondary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Success.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/TacticalGray.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/TextPrimary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/TextSecondary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/TextTertiary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Warning.colorset/Contents.json
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Sun May 4 17:30:29 EDT 2025
  design-tokens/build-tokens.js
  design-tokens/build-tokens.updated.bak
  design-tokens/design-tokens.json
  design-tokens/install-ios-tokens.sh
  design-tokens/install-ios.sh.bak
  design-tokens/style-dictionary.config.js
  design-tokens/style-dictionary.config.old.js
  design-tokens/style-dictionary.config.updated.bak
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/PTDesignSystem/Package.swift
  ios/PTDesignSystem/Sources/DesignTokens/Generated/AppTheme+Generated.swift
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Accent.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/ArmyTan.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Background.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/BrassGold.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/CardBackground.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/CommandBlack.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Cream.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/CreamDark.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/DeepOps.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Error.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Info.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/OliveMist.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Primary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Secondary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Success.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/TacticalGray.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/TextPrimary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/TextSecondary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/TextTertiary.colorset/Contents.json
  ios/PTDesignSystem/Sources/DesignTokens/Resources/Colors.xcassets/Warning.colorset/Contents.json
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Sun May 4 21:08:07 EDT 2025
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/SupportingFiles/Info.plist
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
Owners: @username/ios-team

Auto-commit: Sun May 4 21:08:07 EDT 2025
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/SupportingFiles/Info.plist
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
Owners: @username/ios-team
