Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin

Auto-commit: Fri May 9 09:51:54 EDT 2025
  .github/workflows/deploy-to-production.yml
  Dockerfile
  go.mod
Owners: @username/devops-team, @username/backend-team

Auto-commit: Fri May 9 09:51:54 EDT 2025
  .github/workflows/deploy-to-production.yml
  Dockerfile
  go.mod
Owners: @username/devops-team, @username/backend-team

Generate OpenAPI spec and Go server code
  internal/api/openapi.gen.go
  openapi.yaml
Owners: @username/backend-team, @username/web-team

Generate OpenAPI spec and Go server code
  internal/api/openapi.gen.go
  openapi.yaml
Owners: @username/backend-team, @username/web-team

Auto-commit: Fri May 9 10:11:40 EDT 2025
  .gitignore
  scripts/generate-openapi.ts
Owners: @username/ptchampion-admin

Auto-commit: Fri May 9 10:11:40 EDT 2025
  .gitignore
  scripts/generate-openapi.ts
Owners: @username/ptchampion-admin

Add missing github.com/getkin/kin-openapi/openapi3 dependency
  go.mod
  go.sum
Owners: @username/backend-team

Add missing github.com/getkin/kin-openapi/openapi3 dependency
  go.mod
  go.sum
Owners: @username/backend-team

CI: Remove step that creates placeholder openapi.yaml
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

CI: Remove step that creates placeholder openapi.yaml
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Fix undefined type errors for leaderboard and workout endpoints
  internal/api/api_handler.go
  internal/api/openapi.gen.go
  internal/api/param_types.go
  openapi.yaml
  scripts/generate-openapi.ts
Owners: @username/backend-team, @username/web-team, @username/ptchampion-admin

Fix undefined type errors for leaderboard and workout endpoints
  internal/api/api_handler.go
  internal/api/openapi.gen.go
  internal/api/param_types.go
  openapi.yaml
  scripts/generate-openapi.ts
Owners: @username/backend-team, @username/web-team, @username/ptchampion-admin

Auto-commit: Fri May 9 10:57:50 EDT 2025
  internal/api/openapi.gen.go
  internal/api/param_types.go
Owners: @username/backend-team

Auto-commit: Fri May 9 10:57:50 EDT 2025
  internal/api/openapi.gen.go
  internal/api/param_types.go
Owners: @username/backend-team

Add dedicated /api/v1/health endpoint for CI/CD health checks
  internal/api/router.go
Owners: @username/backend-team

Add dedicated /api/v1/health endpoint for CI/CD health checks
  internal/api/router.go
Owners: @username/backend-team

Fix health check endpoint and deployment process - Ensure /api/v1/health endpoint is always public - Use deterministic image tags - Add verification and forced restart to ensure new image runs
  .github/workflows/deploy-to-production.yml
  internal/api/middleware/auth_middleware.go
  internal/api/router.go
Owners: @username/devops-team, @username/backend-team

Fix health check endpoint and deployment process - Ensure /api/v1/health endpoint is always public - Use deterministic image tags - Add verification and forced restart to ensure new image runs
  .github/workflows/deploy-to-production.yml
  internal/api/middleware/auth_middleware.go
  internal/api/router.go
Owners: @username/devops-team, @username/backend-team

Auto-commit: Fri May 9 15:05:04 EDT 2025
  .github/workflows/deploy-to-production.yml
  Dockerfile.health
  api-origin-group-update.json
  fix-recommendations.md
  health-probe-update.json
  internal/api/routes/fix-health-checks.go
  temporary_fix.go
Owners: @username/devops-team, @username/ptchampion-admin, @username/backend-team

Auto-commit: Fri May 9 15:05:04 EDT 2025
  .github/workflows/deploy-to-production.yml
  Dockerfile.health
  api-origin-group-update.json
  fix-recommendations.md
  health-probe-update.json
  internal/api/routes/fix-health-checks.go
  temporary_fix.go
Owners: @username/devops-team, @username/ptchampion-admin, @username/backend-team

Auto-commit: Fri May 9 15:05:16 EDT 2025
  Dockerfile.health
Owners: @username/ptchampion-admin

Auto-commit: Fri May 9 15:05:16 EDT 2025
  Dockerfile.health
Owners: @username/ptchampion-admin

Auto-commit: Fri May 9 16:48:33 EDT 2025
  internal/api/handlers/auth.go
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/backend-team, @username/ios-team

Auto-commit: Fri May 9 16:48:33 EDT 2025
  internal/api/handlers/auth.go
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/backend-team, @username/ios-team

Auto-commit: Fri May 9 17:13:01 EDT 2025
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Auto-commit: Fri May 9 17:13:01 EDT 2025
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Auto-commit: Fri May 9 17:19:26 EDT 2025
  .github/workflows/deploy-to-production.yml
  cmd/server/main.go
Owners: @username/devops-team, @username/backend-team

Auto-commit: Fri May 9 17:19:26 EDT 2025
  .github/workflows/deploy-to-production.yml
  cmd/server/main.go
Owners: @username/devops-team, @username/backend-team

Auto-commit: Fri May 9 17:30:23 EDT 2025
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Auto-commit: Fri May 9 17:30:23 EDT 2025
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Auto-commit: Fri May 9 17:46:37 EDT 2025
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Auto-commit: Fri May 9 17:46:37 EDT 2025
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Auto-commit: Fri May 9 18:04:08 EDT 2025
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Auto-commit: Fri May 9 18:04:08 EDT 2025
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Auto-commit: Fri May 9 20:42:08 EDT 2025
  Makefile
  cmd/server/main.go
  fix_missing_columns.sql
  internal/api/handlers/auth.go
  internal/api/handlers/leaderboard_handler.go
  internal/api/routes/routes.go
  internal/store/postgres/store.go
  internal/store/redis/memory_store.go
  sql/DATABASE_MANAGEMENT.md
  sql/migrations/000003_add_is_public_to_workouts.down.sql
  sql/migrations/000003_add_is_public_to_workouts.up.sql
  sql/migrations/20250509235822_add_tokens_invalidated_at_to_users.down.sql
  sql/migrations/20250509235822_add_tokens_invalidated_at_to_users.up.sql
Owners: @username/backend-team, @username/ptchampion-admin

Auto-commit: Fri May 9 20:42:08 EDT 2025
  Makefile
  cmd/server/main.go
  fix_missing_columns.sql
  internal/api/handlers/auth.go
  internal/api/handlers/leaderboard_handler.go
  internal/api/routes/routes.go
  internal/store/postgres/store.go
  internal/store/redis/memory_store.go
  sql/DATABASE_MANAGEMENT.md
  sql/migrations/000003_add_is_public_to_workouts.down.sql
  sql/migrations/000003_add_is_public_to_workouts.sql
  sql/migrations/000003_add_is_public_to_workouts.up.sql
  sql/migrations/20250509235822_add_tokens_invalidated_at_to_users.down.sql
  sql/migrations/20250509235822_add_tokens_invalidated_at_to_users.up.sql
Owners: @username/backend-team, @username/ptchampion-admin

Auto-commit: Fri May 9 21:28:39 EDT 2025
  .env.production
  custom_start.sh
Owners: @username/ptchampion-admin

Auto-commit: Fri May 9 21:28:39 EDT 2025
  custom_start.sh
Owners: @username/ptchampion-admin

Auto-commit: Fri May 9 21:48:33 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/Views/Shared/FocusableTextField.swift
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/ios-team

Auto-commit: Fri May 9 21:48:33 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/Views/Shared/FocusableTextField.swift
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/ios-team
