Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

Auto-commit: Mon May 12 08:22:41 EDT 2025
  web/cypress/e2e/leaderboard.cy.ts
  web/cypress/e2e/profile.cy.ts
  web/cypress/e2e/workout-summary.cy.ts
  web/package-lock.json
  web/package.json
  web/public/privacy.html
  web/public/terms.html
  web/src/App.tsx
  web/src/components/WorkoutSummary.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/skeleton.tsx
  web/src/components/workout/HUD.tsx
  web/src/index.css
  web/src/lib/SettingsContext.tsx
  web/src/lib/apiClient.ts
  web/src/lib/share.ts
  web/src/lib/types.ts
  web/src/lib/userSettings.ts
  web/src/lib/utils.ts
  web/src/pages/Leaderboard.tsx
  web/src/pages/Profile.tsx
  web/src/pages/Settings.tsx
  web/src/pages/WorkoutComplete.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/RunningTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/stories/Leaderboard.stories.tsx
  web/src/viewmodels/TrackerViewModel.ts
Owners: @username/web-team

Auto-commit: Mon May 12 08:22:41 EDT 2025
  web/cypress/e2e/leaderboard.cy.ts
  web/cypress/e2e/profile.cy.ts
  web/cypress/e2e/workout-summary.cy.ts
  web/package-lock.json
  web/package.json
  web/public/privacy.html
  web/public/terms.html
  web/src/App.tsx
  web/src/components/WorkoutSummary.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/skeleton.tsx
  web/src/components/workout/HUD.tsx
  web/src/index.css
  web/src/lib/SettingsContext.tsx
  web/src/lib/apiClient.ts
  web/src/lib/share.ts
  web/src/lib/types.ts
  web/src/lib/userSettings.ts
  web/src/lib/utils.ts
  web/src/pages/Leaderboard.tsx
  web/src/pages/Profile.tsx
  web/src/pages/Settings.tsx
  web/src/pages/WorkoutComplete.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/RunningTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/stories/Leaderboard.stories.tsx
  web/src/viewmodels/TrackerViewModel.ts
Owners: @username/web-team

chore: confirm Redux is unused and lock-file purged
  web/.eslintrc.cjs
  web/.husky/pre-commit
  web/README.md
Owners: @username/web-team

chore: confirm Redux is unused and lock-file purged
  web/.eslintrc.cjs
  web/.husky/pre-commit
  web/README.md
Owners: @username/web-team

Auto-commit: Mon May 12 08:41:27 EDT 2025
  web/src/pages/HistoryDetail.tsx
  web/src/pages/Profile.tsx
  web/src/pages/Settings.tsx
  web/src/pages/WorkoutHistoryView.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 08:41:27 EDT 2025
  web/src/pages/HistoryDetail.tsx
  web/src/pages/Profile.tsx
  web/src/pages/Settings.tsx
  web/src/pages/WorkoutHistoryView.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 09:40:21 EDT 2025
  web/docs/audit/search-logs/THEME_UPDATES.md
  web/index.html
  web/src/components/ui/card.tsx
  web/src/components/ui/corner-decor.tsx
  web/src/components/ui/index.ts
  web/src/components/ui/metric-card.tsx
  web/src/components/ui/modal.tsx
  web/src/components/ui/section.tsx
  web/src/components/ui/theme.css
  web/src/index.css
  web/src/pages/Dashboard.tsx
  web/src/stories/Button.stories.tsx
  web/src/stories/HeartRateMonitor.stories.tsx
  web/src/stories/Leaderboard.stories.tsx
  web/src/stories/MetricCard.stories.tsx
  web/src/styles/fonts.css
  web/src/styles/ios-tokens.css
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Mon May 12 09:40:21 EDT 2025
  web/docs/audit/search-logs/THEME_UPDATES.md
  web/index.html
  web/src/components/ui/card.tsx
  web/src/components/ui/corner-decor.tsx
  web/src/components/ui/index.ts
  web/src/components/ui/metric-card.tsx
  web/src/components/ui/modal.tsx
  web/src/components/ui/section.tsx
  web/src/components/ui/theme.css
  web/src/index.css
  web/src/pages/Dashboard.tsx
  web/src/stories/Button.stories.tsx
  web/src/stories/HeartRateMonitor.stories.tsx
  web/src/stories/Leaderboard.stories.tsx
  web/src/stories/MetricCard.stories.tsx
  web/src/styles/fonts.css
  web/src/styles/ios-tokens.css
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Mon May 12 10:06:50 EDT 2025
  web/src/components/WorkoutCard.tsx
  web/src/components/ui/DeveloperMenu.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/corner-decor.tsx
  web/src/components/ui/index.ts
  web/src/components/ui/metric-card.tsx
  web/src/main.tsx
  web/src/pages/Dashboard.tsx
  web/src/stories/MetricCard.stories.tsx
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Mon May 12 10:06:50 EDT 2025
  web/src/components/WorkoutCard.tsx
  web/src/components/ui/DeveloperMenu.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/corner-decor.tsx
  web/src/components/ui/index.ts
  web/src/components/ui/metric-card.tsx
  web/src/main.tsx
  web/src/pages/Dashboard.tsx
  web/src/stories/MetricCard.stories.tsx
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Mon May 12 10:15:45 EDT 2025
  web/src/components/__tests__/Button.test.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/button/Button.stories.tsx
  web/src/components/ui/modal.tsx
  web/src/stories/Modal.stories.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 10:15:45 EDT 2025
  web/src/components/__tests__/Button.test.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/button/Button.stories.tsx
  web/src/components/ui/modal.tsx
  web/src/stories/Modal.stories.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 10:34:42 EDT 2025
  web/src/components/WorkoutCard.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/corner-decor.tsx
  web/src/components/ui/metric-card.tsx
  web/src/components/ui/modal.tsx
  web/src/components/workout-history/WorkoutCard.tsx
  web/src/components/workout-history/__tests__/WorkoutCard.test.tsx
  web/src/pages/Dashboard.tsx
  web/src/stories/MetricCard.stories.tsx
  web/src/stories/Modal.stories.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 10:34:42 EDT 2025
  web/src/components/WorkoutCard.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/corner-decor.tsx
  web/src/components/ui/metric-card.tsx
  web/src/components/ui/modal.tsx
  web/src/components/workout-history/WorkoutCard.tsx
  web/src/components/workout-history/__tests__/WorkoutCard.test.tsx
  web/src/pages/Dashboard.tsx
  web/src/stories/MetricCard.stories.tsx
  web/src/stories/Modal.stories.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 10:40:54 EDT 2025
  web/src/components/ui/card.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 10:40:54 EDT 2025
  web/src/components/ui/card.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:00:27 EDT 2025
  web/cypress/e2e/navigation.cy.ts
  web/docs/NavigationChanges.md
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/layout/TopNavBar.tsx
  web/src/constants/navigation.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:00:27 EDT 2025
  web/cypress/e2e/navigation.cy.ts
  web/docs/NavigationChanges.md
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/layout/TopNavBar.tsx
  web/src/constants/navigation.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:05:19 EDT 2025
  web/src/components/layout/TopNavBar.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:05:19 EDT 2025
  web/src/components/layout/TopNavBar.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:25:43 EDT 2025
  web/src/components/WorkoutCard.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/TopNavBar.tsx
  web/src/components/ui/DeveloperMenu.tsx
  web/src/components/workout-history/WorkoutCard.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Leaderboard.tsx
  web/src/pages/WorkoutHistoryView.tsx
  web/src/stories/MetricCard.stories.tsx
  web/src/stories/Modal.stories.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:25:43 EDT 2025
  web/src/components/WorkoutCard.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/TopNavBar.tsx
  web/src/components/ui/DeveloperMenu.tsx
  web/src/components/workout-history/WorkoutCard.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Leaderboard.tsx
  web/src/pages/WorkoutHistoryView.tsx
  web/src/stories/MetricCard.stories.tsx
  web/src/stories/Modal.stories.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:43:45 EDT 2025
  web/src/components/workout-history/HistoryFilterBar.tsx
  web/src/components/workout-history/InfiniteScrollSentinel.tsx
  web/src/components/workout-history/StreakBanner.tsx
  web/src/components/workout-history/WorkoutCard.tsx
  web/src/pages/Leaderboard.tsx
  web/src/pages/WorkoutHistoryView.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:43:45 EDT 2025
  web/src/components/workout-history/HistoryFilterBar.tsx
  web/src/components/workout-history/InfiniteScrollSentinel.tsx
  web/src/components/workout-history/StreakBanner.tsx
  web/src/components/workout-history/WorkoutCard.tsx
  web/src/pages/Leaderboard.tsx
  web/src/pages/WorkoutHistoryView.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:55:34 EDT 2025
  web/src/grading/ExerciseType.ts
  web/src/grading/RepCounter.ts
  web/src/grading/RepCounterAdapter.ts
  web/src/grading/index.ts
  web/src/pages/Exercises.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 12:55:34 EDT 2025
  web/src/grading/ExerciseType.ts
  web/src/grading/RepCounter.ts
  web/src/grading/RepCounterAdapter.ts
  web/src/grading/index.ts
  web/src/pages/Exercises.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 13:12:24 EDT 2025
  web/cypress/e2e/pushup.cy.ts
  web/cypress/support/commands.ts
  web/cypress/support/e2e.ts
  web/src/components/workout/SessionControls.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/services/CameraManager.ts
  web/src/services/poseDetector.ts
  web/src/viewmodels/PullupTrackerViewModel.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
  web/src/viewmodels/SitupTrackerViewModel.ts
Owners: @username/web-team

Auto-commit: Mon May 12 13:12:24 EDT 2025
  web/cypress/e2e/pushup.cy.ts
  web/cypress/support/commands.ts
  web/cypress/support/e2e.ts
  web/src/components/workout/SessionControls.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/services/CameraManager.ts
  web/src/services/poseDetector.ts
  web/src/viewmodels/PullupTrackerViewModel.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
  web/src/viewmodels/SitupTrackerViewModel.ts
Owners: @username/web-team

Auto-commit: Mon May 12 13:22:48 EDT 2025
  web/package.json
  web/public/assets/icons/workout_history_icon.png
  web/src/components/auth/ProtectedRoute.tsx
  web/src/lib/authContext.tsx
  web/src/pages/Profile.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 13:22:48 EDT 2025
  web/package.json
  web/public/assets/icons/workout_history_icon.png
  web/src/components/auth/ProtectedRoute.tsx
  web/src/lib/authContext.tsx
  web/src/pages/Profile.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 13:35:26 EDT 2025
  web/src/lib/types.ts
  web/src/pages/Profile.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 13:35:26 EDT 2025
  web/src/lib/types.ts
  web/src/pages/Profile.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 13:59:55 EDT 2025
  web/src/assets/workout_history_icon.png
  web/src/constants/navigation.tsx
  web/src/pages/Profile.tsx
Owners: @username/web-team

Auto-commit: Mon May 12 13:59:55 EDT 2025
  web/src/assets/workout_history_icon.png
  web/src/constants/navigation.tsx
  web/src/pages/Profile.tsx
Owners: @username/web-team

chore: run Dependabot checks weekly
  .github/dependabot.yml
Owners: @username/devops-team

Implement manual iOS design system with web parity
  ios/PTDesignSystem/Sources/Components/PTCard.swift
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/PTDesignSystem/Sources/DesignTokens/AppThemeV2.swift
  ios/PTDesignSystem/Sources/DesignTokens/Font+PT.swift
  ios/PTDesignSystem/Sources/DesignTokens/ThemeManager.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/FeatureFlagService.swift
  ios/ptchampion/SupportingFiles/Info.plist
  ios/ptchampion/Utils/FontRegistryChecker.swift
  ios/ptchampion/Views/Shared/DeveloperMenuOption.swift
  scripts/download_web_fonts.sh
Owners: @username/ios-team, @username/ptchampion-admin

pre-migration snapshot with new styling files
  .swiftlint.yml
  Plugins/DesignTokenGenPlugin.swift
  design-tokens/ios-web-parity/colors.json
  design-tokens/ios-web-parity/elevation.json
  design-tokens/ios-web-parity/fonts.json
  design-tokens/ios-web-parity/spacing.json
  design-tokens/ios-web-parity/typography.json
  design-tokens/web-parity.json
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/PTDesignSystem/Sources/Components/PTButton.swift
  ios/PTDesignSystem/Sources/Components/PTCard.swift
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/PTDesignSystem/Sources/DesignTokens/AppTheme+Legacy.swift
  ios/PTDesignSystem/Sources/DesignTokens/AppThemeV2.swift
  ios/PTDesignSystem/Sources/DesignTokens/DesignTokensCore.swift
  ios/PTDesignSystem/Sources/DesignTokens/Generated/AppTheme+Generated.swift
  ios/PTDesignSystem/Sources/DesignTokens/ThemeManager.swift
  ios/PTDesignSystem/Sources/DesignTokens/TypeAliases.swift
  ios/convert_to_styling_modifiers.sh
  ios/ios-web-parity.md
  ios/ptchampion/FontDeclaration.plist
  ios/ptchampion/PTChampionTests/ColorSnapshotTests.swift
  ios/ptchampion/PTChampionTests/FontRegistrationTests.swift
  ios/ptchampion/Styling/AppColors.swift
  ios/ptchampion/Styling/AppFonts.swift
  ios/ptchampion/Styling/CardStyle.swift
  ios/ptchampion/Styling/ContainerStyle.swift
  ios/ptchampion/Styling/StyleShowcaseView.swift
  ios/ptchampion/Styling/Typography.swift
  ios/ptchampion/Tests/ComponentSnapshotTests.swift
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Mon May 12 21:30:02 EDT 2025
  ios/PTDesignSystem/Sources/DesignTokens/DesignSystemExtensions.swift
  ios/ptchampion/Extensions/Text+Typography.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
Owners: @username/ios-team

Auto-commit: Mon May 12 22:41:59 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/PTDesignSystem/Sources/Components/PTButton.swift
  ios/PTDesignSystem/Sources/Components/PTCard.swift
  ios/PTDesignSystem/Sources/Components/PTLabel.swift
  ios/PTDesignSystem/Sources/Components/PTSeparator.swift
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/PTDesignSystem/Sources/DesignTokens/Color.swift
  ios/PTDesignSystem/Sources/DesignTokens/DesignSystemExtensions.swift
  ios/PTDesignSystem/Sources/DesignTokens/TypeAliases.swift
  ios/PTDesignSystem/Sources/PTDesignSystem/ColorAliases.swift
  ios/PTDesignSystem/Sources/PTDesignSystem/DesignSystemExtensions.swift
  ios/ptchampion/Extensions/Text+Typography.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Utils/UIColorContrastChecker.swift
  ios/ptchampion/ViewModels/WorkoutSessionViewModel.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
  ios/ptchampion/Views/History/WorkoutChartView.swift
  ios/ptchampion/Views/LoadingView.swift
  ios/ptchampion/Views/Profile/AccountActionsView.swift
  ios/ptchampion/Views/Profile/EditProfileView.swift
  ios/ptchampion/Views/Profile/MoreActionsView.swift
  ios/ptchampion/Views/Profile/ProfileHeaderView.swift
  ios/ptchampion/Views/Profile/ProfilePreferencesView.swift
  ios/ptchampion/Views/Profile/UserProfileView.swift
  ios/ptchampion/Views/Shared/Badge.swift
  ios/ptchampion/Views/Shared/Charts/WorkoutProgressChart.swift
  ios/ptchampion/Views/Shared/Spinner.swift
  ios/ptchampion/Views/Shared/StatCard.swift
  ios/ptchampion/Views/Shared/Toast.swift
  ios/ptchampion/Views/Workouts/ExerciseHUDView.swift
  ios/ptchampion/Views/Workouts/RunWorkoutView.swift
  ios/ptchampion/Views/Workouts/WorkoutDetailView.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
Owners: @username/ios-team

Auto-commit: Tue May 13 06:35:53 EDT 2025
  ios/ptchampion/Utils/AppAppearance.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Profile/AccountActionsView.swift
  ios/ptchampion/Views/Profile/MoreActionsView.swift
  ios/ptchampion/Views/Profile/ProfilePreferencesView.swift
  ios/ptchampion/Views/Shared/FocusableTextField.swift
  ios/ptchampion/Views/Utility/CameraPermissionRequestView.swift
  ios/ptchampion/Views/Utility/CameraPreviewView.swift
  ios/ptchampion/Views/Utility/LocationPermissionRequestView.swift
  ios/ptchampion/Views/Workouts/BodyPoseDetectionView.swift
  ios/ptchampion/Views/Workouts/PoseOverlayView.swift
Owners: @username/ios-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin
