Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin

Auto-commit: Tue May 6 19:38:54 EDT 2025
  design_tokens.zip
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/PTDesignSystem/Sources/Components/DesignSystemPreview.swift
  ios/PTDesignSystem/Sources/DesignTokens/ThemeManager.swift
  ios/ptchampion/Grading/AnyExerciseGraderBox.swift
  ios/ptchampion/Grading/ExerciseGraderProtocol.swift
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/ViewModels/DashboardViewModel.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Shared/BottomNavBar.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/Utility/ActivityView.swift
  ios/ptchampion/Views/Workouts/CameraExerciseView.swift
  ios/ptchampion/Views/Workouts/WorkoutCompleteView.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ptdesignsystem_ios.zip
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Tue May 6 19:38:54 EDT 2025
  design_tokens.zip
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/PTDesignSystem/Sources/Components/DesignSystemPreview.swift
  ios/PTDesignSystem/Sources/DesignTokens/ThemeManager.swift
  ios/ptchampion/Grading/AnyExerciseGraderBox.swift
  ios/ptchampion/Grading/ExerciseGraderProtocol.swift
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/ViewModels/DashboardViewModel.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Shared/BottomNavBar.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/Utility/ActivityView.swift
  ios/ptchampion/Views/Workouts/CameraExerciseView.swift
  ios/ptchampion/Views/Workouts/WorkoutCompleteView.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ptdesignsystem_ios.zip
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Tue May 6 20:30:23 EDT 2025
  ios/ptchampion/Assets.xcassets/pt_champion_logo_2.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/pt_champion_logo_2.imageset/pt_champion_logo_2.png
  ios/ptchampion/Assets.xcassets/pullup.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/pullup.imageset/pullup.png
  ios/ptchampion/Assets.xcassets/pushup.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/pushup.imageset/pushup.png
  ios/ptchampion/Assets.xcassets/running.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/running.imageset/running.png
  ios/ptchampion/Assets.xcassets/situp.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/situp.imageset/situp.png
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardRowView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Workouts/RunWorkoutView.swift
  ios/ptchampion/Views/Workouts/WorkoutDetailView.swift
  ios/ptchampion/pt_champion_logo_2.png
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/pullup.png
  ios/ptchampion/pushup.png
  ios/ptchampion/running.png
  ios/ptchampion/situp.png
Owners: @username/ios-team

Auto-commit: Tue May 6 20:30:23 EDT 2025
  ios/ptchampion/Assets.xcassets/pt_champion_logo_2.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/pt_champion_logo_2.imageset/pt_champion_logo_2.png
  ios/ptchampion/Assets.xcassets/pullup.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/pullup.imageset/pullup.png
  ios/ptchampion/Assets.xcassets/pushup.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/pushup.imageset/pushup.png
  ios/ptchampion/Assets.xcassets/running.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/running.imageset/running.png
  ios/ptchampion/Assets.xcassets/situp.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/situp.imageset/situp.png
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardRowView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Workouts/RunWorkoutView.swift
  ios/ptchampion/Views/Workouts/WorkoutDetailView.swift
  ios/ptchampion/pt_champion_logo_2.png
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/pullup.png
  ios/ptchampion/pushup.png
  ios/ptchampion/running.png
  ios/ptchampion/situp.png
Owners: @username/ios-team

Auto-commit: Tue May 6 21:00:55 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/DashboardViewModel.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/MetricCard.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
Owners: @username/ios-team

Auto-commit: Tue May 6 21:00:55 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/DashboardViewModel.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/MetricCard.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
Owners: @username/ios-team

Auto-commit: Tue May 6 21:09:18 EDT 2025
  ios/ptchampion/Views/Dashboard/DashboardView.swift
Owners: @username/ios-team

Auto-commit: Tue May 6 21:09:18 EDT 2025
  ios/ptchampion/Views/Dashboard/DashboardView.swift
Owners: @username/ios-team

Auto-commit: Tue May 6 21:49:48 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/DashboardViewModel.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
Owners: @username/ios-team

Auto-commit: Tue May 6 21:49:48 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/DashboardViewModel.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
Owners: @username/ios-team

Auto-commit: Tue May 6 22:01:14 EDT 2025
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
Owners: @username/ios-team

Auto-commit: Tue May 6 22:01:14 EDT 2025
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
Owners: @username/ios-team

Auto-commit: Wed May 7 18:29:45 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
Owners: @username/ios-team

Auto-commit: Wed May 7 18:29:45 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
Owners: @username/ios-team

Auto-commit: Wed May 7 20:00:00 EDT 2025
  ios/ptchampion/Models/WorkoutDataPoint.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/WorkoutHistoryViewModel.swift
  ios/ptchampion/ViewModels/WorkoutTimer.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Shared/Charts/WorkoutProgressChart.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Workouts/CameraExerciseView.swift
  ios/ptchampion/Views/Workouts/ExerciseHUDView.swift
  ios/ptchampion/Views/Workouts/WorkoutCompleteView.swift
  ios/ptchampion/Views/Workouts/WorkoutDetailView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ptchampion_backend.zip
  ptchampion_debug_tools.zip
  ptchampion_ios_nopng.zip
  ptdesignsystem_ios.zip
  ptdesignsystem_nopng.zip
  ptlogs.zip
Owners: @username/ios-team, @username/ptchampion-admin

Auto-commit: Wed May 7 20:00:00 EDT 2025
  ios/ptchampion/Models/WorkoutDataPoint.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/WorkoutHistoryViewModel.swift
  ios/ptchampion/ViewModels/WorkoutTimer.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Shared/Charts/WorkoutProgressChart.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Workouts/CameraExerciseView.swift
  ios/ptchampion/Views/Workouts/ExerciseHUDView.swift
  ios/ptchampion/Views/Workouts/WorkoutCompleteView.swift
  ios/ptchampion/Views/Workouts/WorkoutDetailView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ptchampion_backend.zip
  ptchampion_debug_tools.zip
  ptchampion_ios_nopng.zip
  ptdesignsystem_ios.zip
  ptdesignsystem_nopng.zip
  ptlogs.zip
Owners: @username/ios-team, @username/ptchampion-admin

Auto-commit: Wed May 7 20:45:51 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/ios-team

Auto-commit: Wed May 7 20:45:51 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/ios-team

Auto-commit: Wed May 7 21:36:08 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Workouts/WorkoutDetailView.swift
Owners: @username/ios-team

Auto-commit: Wed May 7 21:36:08 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Workouts/WorkoutDetailView.swift
Owners: @username/ios-team

Auto-commit: Wed May 7 21:57:27 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryRow.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
Owners: @username/ios-team

Auto-commit: Wed May 7 21:57:27 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryRow.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
Owners: @username/ios-team

Auto-commit: Thu May 8 19:16:43 EDT 2025
  cmd/server/main.go
  internal/api/handlers/auth.go
  internal/api/handlers/auth_handler.go
  internal/api/handlers/errors.go
  internal/api/handlers/exercise_handler.go
  internal/api/handlers/handlers.go
  internal/api/handlers/user_handler.go
  internal/api/middleware/logging.go
  internal/api/routes/routes.go
  internal/auth/token.go
  internal/logging/logger.go
  internal/store/postgres/store.go
  internal/store/store.go
  internal/users/service.go
Owners: @username/backend-team

Auto-commit: Thu May 8 19:16:43 EDT 2025
  cmd/server/main.go
  internal/api/handlers/auth.go
  internal/api/handlers/auth_handler.go
  internal/api/handlers/errors.go
  internal/api/handlers/exercise_handler.go
  internal/api/handlers/handlers.go
  internal/api/handlers/user_handler.go
  internal/api/middleware/logging.go
  internal/api/routes/routes.go
  internal/auth/token.go
  internal/logging/logger.go
  internal/store/postgres/store.go
  internal/store/store.go
  internal/users/service.go
Owners: @username/backend-team

Auto-commit: Thu May 8 19:20:00 EDT 2025
  internal/api/handlers/exercise_handler.go
  internal/api/routes/routes.go
  internal/exercises/service.go
  internal/store/postgres/store.go
  internal/store/store.go
Owners: @username/backend-team

Auto-commit: Thu May 8 19:20:00 EDT 2025
  internal/api/handlers/exercise_handler.go
  internal/api/routes/routes.go
  internal/exercises/service.go
  internal/store/postgres/store.go
  internal/store/store.go
Owners: @username/backend-team

Auto-commit: Thu May 8 20:09:24 EDT 2025
  README.md
  internal/api/api_handler.go
  internal/api/handlers/errors.go
  internal/api/handlers/leaderboard_handler.go
  internal/api/handlers/user_handler.go
  internal/api/handlers/workout_handler.go
  internal/api/router.go
  internal/api/routes/routes.go
  internal/leaderboards/service.go
  internal/store/postgres/exercise.sql.go
  internal/store/postgres/leaderboard.sql.go
  internal/store/postgres/models.go
  internal/store/postgres/querier.go
  internal/store/postgres/store.go
  internal/store/postgres/user.sql.go
  internal/store/postgres/workout.sql.go
  internal/store/store.go
  internal/store/user.go
  internal/users/service.go
  internal/workouts/service.go
  sql/migrations/000003_add_is_public_to_workouts.sql
  sql/queries/exercise.sql
  sql/queries/leaderboard.sql
  sql/queries/user.sql
  sql/queries/workout.sql
  sql/schema/000_schema_for_sqlc.sql
  sql/schema/004_workouts.sql
  sqlc.yaml
Owners: @username/ptchampion-admin, @username/backend-team

Auto-commit: Thu May 8 20:09:24 EDT 2025
  README.md
  internal/api/api_handler.go
  internal/api/handlers/errors.go
  internal/api/handlers/leaderboard_handler.go
  internal/api/handlers/user_handler.go
  internal/api/handlers/workout_handler.go
  internal/api/router.go
  internal/api/routes/routes.go
  internal/leaderboards/service.go
  internal/store/postgres/exercise.sql.go
  internal/store/postgres/leaderboard.sql.go
  internal/store/postgres/models.go
  internal/store/postgres/querier.go
  internal/store/postgres/store.go
  internal/store/postgres/user.sql.go
  internal/store/postgres/workout.sql.go
  internal/store/store.go
  internal/store/user.go
  internal/users/service.go
  internal/workouts/service.go
  sql/migrations/000003_add_is_public_to_workouts.sql
  sql/queries/exercise.sql
  sql/queries/leaderboard.sql
  sql/queries/user.sql
  sql/queries/workout.sql
  sql/schema/000_schema_for_sqlc.sql
  sql/schema/004_workouts.sql
  sqlc.yaml
Owners: @username/ptchampion-admin, @username/backend-team

Auto-commit: Thu May 8 20:40:51 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/ios-team

Auto-commit: Thu May 8 20:40:51 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/ios-team

Auto-commit: Thu May 8 21:10:01 EDT 2025
  internal/api/handlers/leaderboard_handler.go
  internal/leaderboards/service.go
  internal/store/postgres/leaderboard.sql.go
  internal/store/postgres/querier.go
  internal/store/postgres/store.go
  internal/store/store.go
  ios/ptchampion/ContentView.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LeaderboardServiceProtocol.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardRowView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Profile/UserProfileView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  sql/queries/leaderboard.sql
Owners: @username/backend-team, @username/ios-team

Auto-commit: Thu May 8 21:10:01 EDT 2025
  internal/api/handlers/leaderboard_handler.go
  internal/leaderboards/service.go
  internal/store/postgres/leaderboard.sql.go
  internal/store/postgres/querier.go
  internal/store/postgres/store.go
  internal/store/store.go
  ios/ptchampion/ContentView.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LeaderboardServiceProtocol.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardRowView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Profile/UserProfileView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  sql/queries/leaderboard.sql
Owners: @username/backend-team, @username/ios-team

Auto-commit: Fri May 9 08:00:07 EDT 2025
  ios/ptchampion/Models/UserProfileData.swift
  ios/ptchampion/Services/MockUserService.swift
  ios/ptchampion/Services/UserServiceProtocol.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/UserProfileViewModel.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
  ios/ptchampion/Views/Profile/UserProfileView.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/StatCard.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Fri May 9 08:00:07 EDT 2025
  ios/ptchampion/Models/UserProfileData.swift
  ios/ptchampion/Services/MockUserService.swift
  ios/ptchampion/Services/UserServiceProtocol.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/UserProfileViewModel.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
  ios/ptchampion/Views/Profile/UserProfileView.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/StatCard.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Fri May 9 08:59:20 EDT 2025
  internal/api/handlers/auth.go
  internal/store/postgres/models.go
  internal/store/postgres/querier.go
  internal/store/postgres/store.go
  internal/store/postgres/user.sql.go
  internal/store/user.go
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/Models/User.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/LoadingView.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  scripts/migrate.sh
  sql/migrations/20250523_add_email_separate_username.sql
  sql/queries/user.sql
  sql/schema/000_schema_for_sqlc.sql
  sql/schema/schema.sql
Owners: @username/backend-team, @username/ios-team, @username/ptchampion-admin

Auto-commit: Fri May 9 08:59:20 EDT 2025
  internal/api/handlers/auth.go
  internal/store/postgres/models.go
  internal/store/postgres/querier.go
  internal/store/postgres/store.go
  internal/store/postgres/user.sql.go
  internal/store/user.go
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/Models/User.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/LoadingView.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  scripts/migrate.sh
  sql/migrations/20250523_add_email_separate_username.sql
  sql/queries/user.sql
  sql/schema/000_schema_for_sqlc.sql
  sql/schema/schema.sql
Owners: @username/backend-team, @username/ios-team, @username/ptchampion-admin

Auto-commit: Fri May 9 09:32:29 EDT 2025
  cmd/server/main.go
  internal/api/router.go
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/backend-team, @username/ios-team

Auto-commit: Fri May 9 09:32:29 EDT 2025
  cmd/server/main.go
  internal/api/router.go
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/backend-team, @username/ios-team

Auto-commit: Fri May 9 09:38:45 EDT 2025
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
Owners: @username/ios-team

Auto-commit: Fri May 9 09:38:45 EDT 2025
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
Owners: @username/ios-team
