Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin

Save all changes
  .github/lighthouserc.json
  .github/workflows/api-docs.yml
  .github/workflows/lighthouse.yml
  Makefile
  PRODUCTION_READINESS_PLAN.md
  android/app/build.gradle.kts
  android/app/src/main/kotlin/com/example/ptchampion/ui/screens/exerciselist/ExerciseListScreen.kt
  android/app/src/main/kotlin/com/example/ptchampion/ui/screens/history/HistoryScreen.kt
  cmd/server/main.go
  db/migrations/0000_foamy_husk.sql
  db/migrations/0000_init_schema.down.sql
  db/migrations/0000_init_schema.up.sql
  db/migrations/0001_create_exercises_table.down.sql
  db/migrations/0001_create_exercises_table.up.sql
  db/migrations/0001c_add_fk_user_exercises.down.sql
  db/migrations/0001c_add_fk_user_exercises.up.sql
  db/migrations/0002_add_distance_notes_to_user_exercises.down.sql
  db/migrations/0002_add_distance_notes_to_user_exercises.up.sql
  db/migrations/0003_create_workouts_table.down.sql
  db/migrations/0003_create_workouts_table.up.sql
  db/migrations/0004_add_form_score_to_workouts.down.sql
  db/migrations/0004_add_form_score_to_workouts.up.sql
  db/migrations/0005_enable_postgis.down.sql
  db/migrations/0005_enable_postgis.up.sql
  db/migrations/0006_add_location_to_users.down.sql
  db/migrations/0006_add_location_to_users.up.sql
  db/migrations/0007_migrate_schema_definitions.down.sql
  db/migrations/0007_migrate_schema_definitions.up.sql
  db/migrations/0010_add_knn_index_to_users.down.sql
  db/migrations/0010_add_knn_index_to_users.up.sql
  db/migrations/README.md
  db/migrations/meta/0000_snapshot.json
  db/migrations/meta/_journal.json
  scripts/loadtest_k6.js
Owners: @username/devops-team, @username/backend-team, @username/ptchampion-admin, @username/android-team

Save all changes
  .github/lighthouserc.json
  .github/workflows/api-docs.yml
  .github/workflows/lighthouse.yml
  Makefile
  PRODUCTION_READINESS_PLAN.md
  android/app/build.gradle.kts
  android/app/src/main/kotlin/com/example/ptchampion/ui/screens/exerciselist/ExerciseListScreen.kt
  android/app/src/main/kotlin/com/example/ptchampion/ui/screens/history/HistoryScreen.kt
  cmd/server/main.go
  db/migrations/0000_foamy_husk.sql
  db/migrations/0000_init_schema.down.sql
  db/migrations/0000_init_schema.up.sql
  db/migrations/0001_create_exercises_table.down.sql
  db/migrations/0001_create_exercises_table.up.sql
  db/migrations/0001c_add_fk_user_exercises.down.sql
  db/migrations/0001c_add_fk_user_exercises.up.sql
  db/migrations/0002_add_distance_notes_to_user_exercises.down.sql
  db/migrations/0002_add_distance_notes_to_user_exercises.up.sql
  db/migrations/0003_create_workouts_table.down.sql
  db/migrations/0003_create_workouts_table.up.sql
  db/migrations/0004_add_form_score_to_workouts.down.sql
  db/migrations/0004_add_form_score_to_workouts.up.sql
  db/migrations/0005_enable_postgis.down.sql
  db/migrations/0005_enable_postgis.up.sql
  db/migrations/0006_add_location_to_users.down.sql
  db/migrations/0006_add_location_to_users.up.sql
  db/migrations/0007_migrate_schema_definitions.down.sql
  db/migrations/0007_migrate_schema_definitions.up.sql
  db/migrations/0010_add_knn_index_to_users.down.sql
  db/migrations/0010_add_knn_index_to_users.up.sql
  db/migrations/README.md
  db/migrations/meta/0000_snapshot.json
  db/migrations/meta/_journal.json
  scripts/loadtest_k6.js
Owners: @username/devops-team, @username/backend-team, @username/ptchampion-admin, @username/android-team

Update project files and restructure grading package
  .github/workflows/continuous-deployment.yml
  Dockerfile
  PRODUCTION_READINESS_PLAN.md
  README.md
  android/app/build.gradle.kts
  android/app/src/main/java/com/example/ptchampion/util/AppUpdateManager.kt
  android/app/src/main/kotlin/com/example/ptchampion/di/UpdateModule.kt
  android/app/src/main/kotlin/com/example/ptchampion/ui/MainActivity.kt
  android/keystore/README.md
  docs/ARCHITECTURE.md
  docs/AZURE_DEPLOYMENT.md
  index.html
  internal/grading/constants.go
  internal/grading/grading.go
  internal/grading/pose.go
  internal/grading/pushup.go
  internal/grading/scoring.go
  ios/TestFlightConfiguration.md
  ios/ptchampion/PrivacyInfo.xcprivacy
Owners: @username/devops-team, @username/backend-team, @username/ptchampion-admin, @username/android-team, @username/ios-team

Update project files and restructure grading package
  .github/workflows/continuous-deployment.yml
  Dockerfile
  PRODUCTION_READINESS_PLAN.md
  README.md
  android/app/build.gradle.kts
  android/app/src/main/java/com/example/ptchampion/util/AppUpdateManager.kt
  android/app/src/main/kotlin/com/example/ptchampion/di/UpdateModule.kt
  android/app/src/main/kotlin/com/example/ptchampion/ui/MainActivity.kt
  android/keystore/README.md
  docs/ARCHITECTURE.md
  docs/AZURE_DEPLOYMENT.md
  index.html
  internal/grading/constants.go
  internal/grading/grading.go
  internal/grading/pose.go
  internal/grading/pushup.go
  internal/grading/scoring.go
  ios/TestFlightConfiguration.md
  ios/ptchampion/PrivacyInfo.xcprivacy
Owners: @username/devops-team, @username/backend-team, @username/ptchampion-admin, @username/android-team, @username/ios-team

Add automated deployment workflow and documentation
  .github/workflows/deploy-to-production.yml
  docs/DEPLOYMENT.md
Owners: @username/devops-team, @username/ptchampion-admin

Add automated deployment workflow and documentation
  .github/workflows/deploy-to-production.yml
  docs/DEPLOYMENT.md
Owners: @username/devops-team, @username/ptchampion-admin

Update Azure login action with client secret
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Update Azure login action with client secret
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Update Azure login to use creds and add id-token permissions
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Update Azure login to use creds and add id-token permissions
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Update GitHub Action versions and fix deploy step
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Update GitHub Action versions and fix deploy step
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Fix build command for web frontend
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Fix build command for web frontend
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Fix: Remove unused variables causing build warnings
  ios/ptchampion/pt_champion_logo.png
  web/src/components/ui/heart-rate-monitor.tsx
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
  web/src/lib/hooks/useBluetoothHRM.ts
  web/src/pages/Exercises.tsx
Owners: @username/ios-team, @username/web-team

Fix: Remove unused variables causing build warnings
  ios/ptchampion/pt_champion_logo.png
  web/src/components/ui/heart-rate-monitor.tsx
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
  web/src/lib/hooks/useBluetoothHRM.ts
  web/src/pages/Exercises.tsx
Owners: @username/ios-team, @username/web-team

Fix workflow to use explicit image tagging for deployment
  .github/workflows/deploy-to-production.yml
  ios/ptchampion/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/ptchampion/Assets.xcassets/AppIcon.appiconset/pt_champion_logo.png
  ios/ptchampion/Assets.xcassets/Contents.json
Owners: @username/devops-team, @username/ios-team

Fix workflow to use explicit image tagging for deployment
  .github/workflows/deploy-to-production.yml
  ios/ptchampion/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/ptchampion/Assets.xcassets/AppIcon.appiconset/pt_champion_logo.png
  ios/ptchampion/Assets.xcassets/Contents.json
Owners: @username/devops-team, @username/ios-team

Fix(workflow): Use explicit commit SHA image tag in deployment step
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Fix(workflow): Use explicit commit SHA image tag in deployment step
  .github/workflows/deploy-to-production.yml
Owners: @username/devops-team

Fix Dockerfile to properly run Go application in Azure App Service
  Dockerfile
Owners: @username/backend-team

Fix Dockerfile to properly run Go application in Azure App Service
  Dockerfile
Owners: @username/backend-team

Fix Dockerfile: removed env file copy and set environment variables directly
  Dockerfile
Owners: @username/backend-team

Fix Dockerfile: removed env file copy and set environment variables directly
  Dockerfile
Owners: @username/backend-team

Update Dockerfile to use Go 1.24 (required by go.mod)
  Dockerfile
Owners: @username/backend-team

Update Dockerfile to use Go 1.24 (required by go.mod)
  Dockerfile
Owners: @username/backend-team

Fix Dockerfile to ensure build compatibility with grading package
  Dockerfile
Owners: @username/backend-team

Fix Dockerfile to ensure build compatibility with grading package
  Dockerfile
Owners: @username/backend-team

Fix grading.CalculateScore call to handle both return values
  internal/api/handlers/exercise_handler.go
Owners: @username/backend-team

Fix grading.CalculateScore call to handle both return values
  internal/api/handlers/exercise_handler.go
Owners: @username/backend-team

Fix Dockerfile to use golang:1.24-alpine
  Dockerfile
Owners: @username/backend-team

Fix Dockerfile to use golang:1.24-alpine
  Dockerfile
Owners: @username/backend-team

Add OpenAPI code generation to Dockerfile
  Dockerfile
Owners: @username/backend-team

Add OpenAPI code generation to Dockerfile
  Dockerfile
Owners: @username/backend-team

Add git to Dockerfile for oapi-codegen installation
  Dockerfile
Owners: @username/backend-team

Add git to Dockerfile for oapi-codegen installation
  Dockerfile
Owners: @username/backend-team

Update configuration and UI files
  .dockerignore
  .github/workflows/deploy-to-production.yml
  Dockerfile
  docker-compose.yml
  internal/config/config.go
  ios/AppStoreMetadata.md
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/project.xcworkspace/xcuserdata/brendantoole.xcuserdatad/UserInterfaceState.xcuserstate
  scripts/test-key-vault.go
  web/package.json
  web/src/App.tsx
  web/src/lib/config.ts
  web/src/lib/db/indexedDB.ts
  web/src/pages/trackers/SitupTracker.tsx
Owners: @username/ptchampion-admin, @username/devops-team, @username/backend-team, @username/ios-team, @username/web-team

Update configuration and UI files
  .dockerignore
  .github/workflows/deploy-to-production.yml
  Dockerfile
  docker-compose.yml
  internal/config/config.go
  ios/AppStoreMetadata.md
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/project.xcworkspace/xcuserdata/brendantoole.xcuserdatad/UserInterfaceState.xcuserstate
  scripts/test-key-vault.go
  web/package.json
  web/src/App.tsx
  web/src/lib/config.ts
  web/src/lib/db/indexedDB.ts
  web/src/pages/trackers/SitupTracker.tsx
Owners: @username/ptchampion-admin, @username/devops-team, @username/backend-team, @username/ios-team, @username/web-team

Fix Dockerfile for OpenAPI generation and verify file existence
  Dockerfile
Owners: @username/backend-team

Fix Dockerfile for OpenAPI generation and verify file existence
  Dockerfile
Owners: @username/backend-team
