Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

Auto-commit: Mon May 5 10:16:25 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 10:16:25 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 10:25:01 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 10:25:01 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 10:30:58 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 10:30:58 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 11:38:44 EDT 2025
  AppVision.md
Owners: @username/ptchampion-admin

Auto-commit: Mon May 5 11:38:44 EDT 2025
  AppVision.md
Owners: @username/ptchampion-admin

Auto-commit: Mon May 5 13:09:49 EDT 2025
  ios/ptchampion/ContentView.swift
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/Views/Workouts/BodyPoseDetectionView.swift
  ios/ptchampion/Views/Workouts/PoseDetectionDemoView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Mon May 5 13:09:49 EDT 2025
  ios/ptchampion/ContentView.swift
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/Views/Workouts/BodyPoseDetectionView.swift
  ios/ptchampion/Views/Workouts/PoseDetectionDemoView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Mon May 5 13:12:34 EDT 2025
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/Utility/CameraPermissionRequestView.swift
  ios/ptchampion/Views/Workouts/BodyPoseDetectionView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Mon May 5 13:12:34 EDT 2025
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/Utility/CameraPermissionRequestView.swift
  ios/ptchampion/Views/Workouts/BodyPoseDetectionView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Mon May 5 13:30:59 EDT 2025
  ios/ptchampion/Grading/ExerciseGraderProtocol.swift
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/Models/PoseModels.swift
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 13:30:59 EDT 2025
  ios/ptchampion/Grading/ExerciseGraderProtocol.swift
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/Models/PoseModels.swift
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 13:40:14 EDT 2025
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/Workouts/PoseOverlayView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 13:40:14 EDT 2025
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/Workouts/PoseOverlayView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 16:16:59 EDT 2025
  ios/ptchampion/Models/AppModels.swift
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/Models/Enums.swift
  ios/ptchampion/Models/User.swift
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/Services/AuthServiceProtocol.swift
  ios/ptchampion/Services/NetworkService.swift
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/Services/WasmerGrading.swift
  ios/ptchampion/Utils/NetworkClient.swift
  ios/ptchampion/Utils/UIColorContrastChecker.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/DashboardViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/ViewModels/WorkoutHistoryViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ContentView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Settings/SettingsView.swift
  ios/ptchampion/Views/Shared/FocusableTextField.swift
  ios/ptchampion/Views/Shared/MetricCard.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryList.swift
  ios/ptchampion/Views/Workouts/WorkoutDetailView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/project.xcworkspace/xcuserdata/brendantoole.xcuserdatad/IDEFindNavigatorScopes.plist
Owners: @username/ios-team

Auto-commit: Mon May 5 16:16:59 EDT 2025
  ios/ptchampion/Models/AppModels.swift
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/Models/Enums.swift
  ios/ptchampion/Models/User.swift
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/Services/AuthServiceProtocol.swift
  ios/ptchampion/Services/NetworkService.swift
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/Services/WasmerGrading.swift
  ios/ptchampion/Utils/NetworkClient.swift
  ios/ptchampion/Utils/UIColorContrastChecker.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/DashboardViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/ViewModels/WorkoutHistoryViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ContentView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Settings/SettingsView.swift
  ios/ptchampion/Views/Shared/FocusableTextField.swift
  ios/ptchampion/Views/Shared/MetricCard.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryList.swift
  ios/ptchampion/Views/Workouts/WorkoutDetailView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/project.xcworkspace/xcuserdata/brendantoole.xcuserdatad/IDEFindNavigatorScopes.plist
Owners: @username/ios-team

Auto-commit: Mon May 5 17:00:14 EDT 2025
  ios/ptchampion/Models/AppModels.swift
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/Services/NetworkClient.swift
  ios/ptchampion/Services/NetworkService.swift
  ios/ptchampion/Services/WorkoutPersistenceService.swift
  ios/ptchampion/Utils/AppAppearance.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryList.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 17:00:14 EDT 2025
  ios/ptchampion/Models/AppModels.swift
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/Services/NetworkClient.swift
  ios/ptchampion/Services/NetworkService.swift
  ios/ptchampion/Services/WorkoutPersistenceService.swift
  ios/ptchampion/Utils/AppAppearance.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryList.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 19:43:21 EDT 2025
  README.md
  ios/PTDesignSystem/README.md
  ios/ptchampion/.swiftlint.yml
  ios/ptchampion/Docs/DesignSystemUsageGuide.md
  ios/ptchampion/PTChampionTests/DesignSystemSnapshotTests.swift
  ios/ptchampion/Utils/Theme.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/FocusableTextField.swift
  ios/ptchampion/Views/Shared/Separator.swift
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Mon May 5 19:43:21 EDT 2025
  README.md
  ios/PTDesignSystem/README.md
  ios/ptchampion/.swiftlint.yml
  ios/ptchampion/Docs/DesignSystemUsageGuide.md
  ios/ptchampion/PTChampionTests/DesignSystemSnapshotTests.swift
  ios/ptchampion/Utils/Theme.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/FocusableTextField.swift
  ios/ptchampion/Views/Shared/Separator.swift
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Mon May 5 20:37:41 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/Models/WorkoutDataPoint.swift
  ios/ptchampion/Services/CommonNetworkTypes.swift
  ios/ptchampion/Services/FeatureFlagService.swift
  ios/ptchampion/Services/NetworkService.swift
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Modifiers/FeatureFlagViewExtensions.swift
  ios/ptchampion/Views/Shared/Badge.swift
  ios/ptchampion/Views/Shared/BadgeType.swift
  ios/ptchampion/Views/Shared/Charts/WorkoutProgressChart.swift
  ios/ptchampion/Views/Shared/WorkoutProgressChart.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Mon May 5 20:37:41 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/Models/WorkoutDataPoint.swift
  ios/ptchampion/Services/CommonNetworkTypes.swift
  ios/ptchampion/Services/FeatureFlagService.swift
  ios/ptchampion/Services/NetworkService.swift
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Modifiers/FeatureFlagViewExtensions.swift
  ios/ptchampion/Views/Shared/Badge.swift
  ios/ptchampion/Views/Shared/BadgeType.swift
  ios/ptchampion/Views/Shared/Charts/WorkoutProgressChart.swift
  ios/ptchampion/Views/Shared/WorkoutProgressChart.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Mon May 5 21:00:04 EDT 2025
  ios/PTDesignSystem/Package.swift
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/Services/CommonNetworkTypes.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/NetworkService.swift
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @username/ios-team

Auto-commit: Mon May 5 21:00:04 EDT 2025
  ios/PTDesignSystem/Package.swift
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/Services/CommonNetworkTypes.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/NetworkService.swift
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @username/ios-team

Auto-commit: Mon May 5 21:16:51 EDT 2025
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/ViewModels/WorkoutHistoryViewModel.swift
  ios/ptchampion/Views/Shared/DashboardHeader.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/Toast.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 21:16:51 EDT 2025
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/ViewModels/WorkoutHistoryViewModel.swift
  ios/ptchampion/Views/Shared/DashboardHeader.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
  ios/ptchampion/Views/Shared/Toast.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 21:33:37 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTButton.swift
  ios/PTDesignSystem/Sources/Components/PTLabel.swift
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 21:33:37 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTButton.swift
  ios/PTDesignSystem/Sources/Components/PTLabel.swift
  ios/PTDesignSystem/Sources/Components/PTTextField.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 21:42:18 EDT 2025
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 21:42:18 EDT 2025
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 22:01:04 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTButton.swift
  ios/PTDesignSystem/Sources/Components/PTLabel.swift
  ios/ptchampion/PTChampionTests/DesignSystemSnapshotTests.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/MetricData.swift
  ios/ptchampion/Views/Shared/ValidationStateExtension.swift
  ios/ptchampion/Views/Shared/WorkoutProgressChart.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Mon May 5 22:01:04 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTButton.swift
  ios/PTDesignSystem/Sources/Components/PTLabel.swift
  ios/ptchampion/PTChampionTests/DesignSystemSnapshotTests.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/MetricData.swift
  ios/ptchampion/Views/Shared/ValidationStateExtension.swift
  ios/ptchampion/Views/Shared/WorkoutProgressChart.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Mon May 5 22:24:41 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTLabel.swift
  ios/ptchampion/Models/AppModels.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/Shared/Charts/WorkoutProgressChart.swift
  ios/ptchampion/Views/Shared/MetricCard.swift
  ios/ptchampion/Views/Shared/MetricData.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 22:24:41 EDT 2025
  ios/PTDesignSystem/Sources/Components/PTLabel.swift
  ios/ptchampion/Models/AppModels.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/Shared/Charts/WorkoutProgressChart.swift
  ios/ptchampion/Views/Shared/MetricCard.swift
  ios/ptchampion/Views/Shared/MetricData.swift
  ios/ptchampion/Views/Shared/SettingsSheet.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 22:28:02 EDT 2025
  ios/ptchampion/Views/Shared/Charts/WorkoutProgressChart.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 22:28:02 EDT 2025
  ios/ptchampion/Views/Shared/Charts/WorkoutProgressChart.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 22:33:20 EDT 2025
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
Owners: @username/ios-team

Auto-commit: Mon May 5 22:33:20 EDT 2025
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/ComponentGalleryView.swift
  ios/ptchampion/Views/ExerciseDetailView.swift
Owners: @username/ios-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin
