Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin

Reorganize iOS project file structure
  ios/ptchampion/ContentView.swift
  ios/ptchampion/Grading/ExerciseGraderProtocol.swift
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/PTChampionImports.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/Services/AuthServiceProtocol.swift
  ios/ptchampion/Services/BluetoothService.swift
  ios/ptchampion/Services/BluetoothServiceProtocol.swift
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/Services/CameraServiceProtocol.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LeaderboardServiceProtocol.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/Services/LocationServiceProtocol.swift
  ios/ptchampion/Services/NetworkClient.swift
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/Services/PoseDetectorServiceProtocol.swift
  ios/ptchampion/Services/Services/KeychainService.swift
  ios/ptchampion/Services/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/Services/WorkoutService.swift
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/Services/WorkoutService.swift
  ios/ptchampion/Services/WorkoutServiceProtocol.swift
  ios/ptchampion/Utils/LegacyTheme.swift
  ios/ptchampion/Utils/Theme.swift
  ios/ptchampion/Utils/Utils/AppAppearance.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  update_xcode_references.rb
Owners: @username/ios-team, @username/ptchampion-admin

Reorganize iOS project file structure
  ios/ptchampion/ContentView.swift
  ios/ptchampion/Grading/ExerciseGraderProtocol.swift
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/PTChampionImports.swift
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/Services/AuthServiceProtocol.swift
  ios/ptchampion/Services/BluetoothService.swift
  ios/ptchampion/Services/BluetoothServiceProtocol.swift
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/Services/CameraServiceProtocol.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LeaderboardServiceProtocol.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/Services/LocationServiceProtocol.swift
  ios/ptchampion/Services/NetworkClient.swift
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/Services/PoseDetectorServiceProtocol.swift
  ios/ptchampion/Services/Services/KeychainService.swift
  ios/ptchampion/Services/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/Services/WorkoutService.swift
  ios/ptchampion/Services/UnifiedNetworkService.swift
  ios/ptchampion/Services/WorkoutService.swift
  ios/ptchampion/Services/WorkoutServiceProtocol.swift
  ios/ptchampion/Utils/LegacyTheme.swift
  ios/ptchampion/Utils/Theme.swift
  ios/ptchampion/Utils/Utils/AppAppearance.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  update_xcode_references.rb
Owners: @username/ios-team, @username/ptchampion-admin

Update iOS files and add Theme.swift
  ios/ptchampion/PTChampionImports.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Theme.swift
  ios/ptchampion/ViewModels/DeviceScanningViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Update iOS files and add Theme.swift
  ios/ptchampion/PTChampionImports.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Theme.swift
  ios/ptchampion/ViewModels/DeviceScanningViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Update iOS auth files
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Update iOS auth files
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Fix SwiftUI authentication navigation issue with robust fallbacks and enhanced state management
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Fix SwiftUI authentication navigation issue with robust fallbacks and enhanced state management
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Update iOS app files
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Update iOS app files
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Update LoginView.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Update LoginView.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Update authentication and settings views
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
Owners: @username/ios-team

Update authentication and settings views
  ios/ptchampion/Models/AuthModels.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
Owners: @username/ios-team

Fix iOS login issues and navigation flow
  ios/ptchampion/Assets.xcassets/pt_champion_logo.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/pt_champion_logo.imageset/pt_champion_logo.png
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Fix iOS login issues and navigation flow
  ios/ptchampion/Assets.xcassets/pt_champion_logo.imageset/Contents.json
  ios/ptchampion/Assets.xcassets/pt_champion_logo.imageset/pt_champion_logo.png
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Updated AuthViewModel and LoginView
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Updated AuthViewModel and LoginView
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Fix leaderboard compilation errors: resolve LeaderboardEntry redeclaration, fix generic parameter inference, and remove explicit return in preview
  ios/ptchampion/Models/LeaderboardModels.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Fix leaderboard compilation errors: resolve LeaderboardEntry redeclaration, fix generic parameter inference, and remove explicit return in preview
  ios/ptchampion/Models/LeaderboardModels.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Add all iOS project changes including LeaderboardView and NetworkClient
  ios/ptchampion/Models/User.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/Services/LocationServiceProtocol.swift
  ios/ptchampion/Utils/NetworkClient.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryRow.swift
  ios/ptchampion/Views/Workouts/RunWorkoutView.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Add all iOS project changes including LeaderboardView and NetworkClient
  ios/ptchampion/Models/User.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/Services/LocationServiceProtocol.swift
  ios/ptchampion/Utils/NetworkClient.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/ViewModels/WorkoutViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Shared/SettingsView.swift
  ios/ptchampion/Views/Shared/WorkoutHistoryRow.swift
  ios/ptchampion/Views/Workouts/RunWorkoutView.swift
  ios/ptchampion/Views/Workouts/WorkoutSelectionView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Fix leaderboard freezing issue by using mock data
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Fix leaderboard freezing issue by using mock data
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Update iOS services and workout view
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/Views/Workouts/RunWorkoutView.swift
Owners: @username/ios-team

Update iOS services and workout view
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/Views/Workouts/RunWorkoutView.swift
Owners: @username/ios-team

Font fixes and related script updates
  avenir.ttf
  bebas.css
  bebas_neue.ttf
  bebas_neue.woff2
  clean_font_logs.sh
  copy_fonts_to_simulator.sh
  download_fonts.sh
  finish_font_fix.sh
  fix-fonts.sh
  fix_bebas_final.sh
  fix_bebas_font.sh
  fix_bebas_with_system_font.sh
  fix_duplicate_copy_phase.sh
  fix_info_plist_build_phases.sh
  fix_montserrat_regular.sh
  fix_xcode_font_bundling.sh
  ios/ptchampion/CopyFonts-XC.sh
  ios/ptchampion/CopyFonts.sh
  ios/ptchampion/FontDeclaration.plist
  ios/ptchampion/PTChampionApp.swift.backup
  ios/ptchampion/PTChampionApp.swift.logs_backup
  ios/ptchampion/PTChampionApp.swift.original
  ios/ptchampion/Resources/Fonts/BebasNeue-Bold.ttf
  ios/ptchampion/Resources/Fonts/Montserrat-Bold.ttf
  ios/ptchampion/Resources/Fonts/Montserrat-Regular.ttf
  ios/ptchampion/Resources/Fonts/Montserrat-SemiBold.ttf
  ios/ptchampion/Resources/Fonts/RobotoMono-Bold.ttf
  ios/ptchampion/Resources/Fonts/RobotoMono-Medium.ttf
  ios/ptchampion/SupportingFiles/Info.plist.backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.build_phases_backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.duplicate-fix-backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.fonts-fix-backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.montserrat_backup
  permanent_helvetica_fix.sh
  rename_bebas_font.sh
Owners: @username/ptchampion-admin, @username/ios-team

Font fixes and related script updates
  avenir.ttf
  bebas.css
  bebas_neue.ttf
  bebas_neue.woff2
  clean_font_logs.sh
  copy_fonts_to_simulator.sh
  download_fonts.sh
  finish_font_fix.sh
  fix-fonts.sh
  fix_bebas_final.sh
  fix_bebas_font.sh
  fix_bebas_with_system_font.sh
  fix_duplicate_copy_phase.sh
  fix_info_plist_build_phases.sh
  fix_montserrat_regular.sh
  fix_xcode_font_bundling.sh
  ios/ptchampion/CopyFonts-XC.sh
  ios/ptchampion/CopyFonts.sh
  ios/ptchampion/FontDeclaration.plist
  ios/ptchampion/PTChampionApp.swift.backup
  ios/ptchampion/PTChampionApp.swift.logs_backup
  ios/ptchampion/PTChampionApp.swift.original
  ios/ptchampion/Resources/Fonts/BebasNeue-Bold.ttf
  ios/ptchampion/Resources/Fonts/Montserrat-Bold.ttf
  ios/ptchampion/Resources/Fonts/Montserrat-Regular.ttf
  ios/ptchampion/Resources/Fonts/Montserrat-SemiBold.ttf
  ios/ptchampion/Resources/Fonts/RobotoMono-Bold.ttf
  ios/ptchampion/Resources/Fonts/RobotoMono-Medium.ttf
  ios/ptchampion/SupportingFiles/Info.plist.backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.build_phases_backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.duplicate-fix-backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.fonts-fix-backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.montserrat_backup
  permanent_helvetica_fix.sh
  rename_bebas_font.sh
Owners: @username/ptchampion-admin, @username/ios-team

Updated iOS services and leaderboard components
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Updated iOS services and leaderboard components
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Update iOS services and view models
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Update iOS services and view models
  ios/ptchampion/Services/KeychainService.swift
  ios/ptchampion/Services/KeychainServiceProtocol.swift
  ios/ptchampion/Services/LeaderboardService.swift
  ios/ptchampion/Services/LocationService.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/ViewModels/RunWorkoutViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: 2025-05-02 20:41:58
  gitsave.sh
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ~/.zshrc
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: 2025-05-02 20:41:58
  gitsave.sh
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ~/.zshrc
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Fri May 2 20:43:12 EDT 2025
  ~/.zshrc
Owners: @username/ptchampion-admin

Auto-commit: Fri May 2 20:43:12 EDT 2025
  ~/.zshrc
Owners: @username/ptchampion-admin

Auto-commit: Fri May 2 20:50:10 EDT 2025
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Fri May 2 20:50:10 EDT 2025
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ios-team

Auto-commit: Fri May 2 21:25:57 EDT 2025
  docs/MODEL_CONTEXT_PROTOCOL.md
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Fri May 2 21:25:57 EDT 2025
  docs/MODEL_CONTEXT_PROTOCOL.md
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/LeaderboardViewModel.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
Owners: @username/ptchampion-admin, @username/ios-team
