Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin

Auto-commit: Sat May 10 18:47:46 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/fix_bluetooth_keys.rb
  ios/ptchampion/fix_entitlements.rb
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Sat May 10 18:47:46 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/fix_bluetooth_keys.rb
  ios/ptchampion/fix_entitlements.rb
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Sat May 10 19:08:43 EDT 2025
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/Services/CameraServiceProtocol.swift
  ios/ptchampion/ViewModels/WorkoutSessionViewModel.swift
  ios/ptchampion/Views/Workouts/ExerciseHUDView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Sat May 10 19:08:43 EDT 2025
  ios/ptchampion/Grading/PullupGrader.swift
  ios/ptchampion/Grading/PushupGrader.swift
  ios/ptchampion/Grading/SitupGrader.swift
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/Services/CameraServiceProtocol.swift
  ios/ptchampion/ViewModels/WorkoutSessionViewModel.swift
  ios/ptchampion/Views/Workouts/ExerciseHUDView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Sat May 10 19:44:20 EDT 2025
  ios/ptchampion/ViewModels/WorkoutSessionViewModel.swift
  ios/ptchampion/Views/Workouts/PoseOverlayView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Sat May 10 19:44:20 EDT 2025
  ios/ptchampion/ViewModels/WorkoutSessionViewModel.swift
  ios/ptchampion/Views/Workouts/PoseOverlayView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Sat May 10 19:58:43 EDT 2025
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/ViewModels/WorkoutSessionViewModel.swift
  ios/ptchampion/Views/Workouts/WorkoutCompleteView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Sat May 10 19:58:43 EDT 2025
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/ViewModels/WorkoutSessionViewModel.swift
  ios/ptchampion/Views/Workouts/WorkoutCompleteView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Sat May 10 20:24:57 EDT 2025
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/ViewModels/WorkoutSessionViewModel.swift
Owners: @username/ios-team

Auto-commit: Sat May 10 20:24:57 EDT 2025
  ios/ptchampion/Services/CameraService.swift
  ios/ptchampion/Services/PoseDetectorService.swift
  ios/ptchampion/ViewModels/WorkoutSessionViewModel.swift
Owners: @username/ios-team

Auto-commit: Sat May 10 21:09:48 EDT 2025
  ios/ptchampion/Views/Workouts/ExerciseHUDView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Sat May 10 21:09:48 EDT 2025
  ios/ptchampion/Views/Workouts/ExerciseHUDView.swift
  ios/ptchampion/Views/Workouts/WorkoutSessionView.swift
Owners: @username/ios-team

Auto-commit: Sun May 11 11:01:59 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/NetworkMonitorService.swift
  ios/ptchampion/Services/SynchronizationService.swift
  ios/ptchampion/Services/WorkoutPersistenceService.swift
  ios/ptchampion/Services/WorkoutService.swift
  ios/ptchampion/ViewModels/WorkoutHistoryViewModel.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/OfflineSyncStatusView.swift
  ios/ptchampion/Views/Utility/DeviceScanningView.swift
  ios/ptchampion/Views/WorkoutHistoryItemView.swift
  ios/ptchampion/Views/WorkoutHistoryView.swift.backup
  ios/ptchampion/ptchampion.entitlements
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/ios-team

Auto-commit: Sun May 11 11:01:59 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/Models/WorkoutResultSwiftData.swift
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Services/NetworkMonitorService.swift
  ios/ptchampion/Services/SynchronizationService.swift
  ios/ptchampion/Services/WorkoutPersistenceService.swift
  ios/ptchampion/Services/WorkoutService.swift
  ios/ptchampion/ViewModels/WorkoutHistoryViewModel.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/OfflineSyncStatusView.swift
  ios/ptchampion/Views/Utility/DeviceScanningView.swift
  ios/ptchampion/Views/WorkoutHistoryItemView.swift
  ios/ptchampion/Views/WorkoutHistoryView.swift.backup
  ios/ptchampion/ptchampion.entitlements
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
Owners: @username/ios-team

Auto-commit: Sun May 11 12:43:54 EDT 2025
  design-tokens/config.web.js
  docs/web-ui-audit.md
  web/src/App.tsx
  web/src/components/OfflineBanner.tsx
  web/src/components/SyncIndicator.tsx
  web/src/components/UnsupportedFeature.tsx
  web/src/components/WorkoutChart.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/ui/badge.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/index.ts
  web/src/components/ui/input.tsx
  web/src/components/ui/progress.tsx
  web/src/components/ui/separator.tsx
  web/src/components/ui/switch.tsx
  web/src/components/ui/typography.tsx
  web/src/index.css
  web/src/lib/hooks/useDeviceCapabilities.ts
  web/src/lib/syncManager.ts
  web/src/lib/themeContext.tsx
  web/src/serviceWorker.ts
  web/src/serviceWorkerRegistration.ts
  web/src/styles/README.md
  web/src/styles/fonts.css
  web/src/styles/ios-tokens.css
  web/tailwind.config.cjs
  web/tsconfig.json
Owners: @username/ptchampion-admin, @username/web-team

Auto-commit: Sun May 11 12:43:54 EDT 2025
  design-tokens/config.web.js
  docs/web-ui-audit.md
  web/src/App.tsx
  web/src/components/OfflineBanner.tsx
  web/src/components/SyncIndicator.tsx
  web/src/components/UnsupportedFeature.tsx
  web/src/components/WorkoutChart.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/ui/badge.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/index.ts
  web/src/components/ui/input.tsx
  web/src/components/ui/progress.tsx
  web/src/components/ui/separator.tsx
  web/src/components/ui/switch.tsx
  web/src/components/ui/typography.tsx
  web/src/index.css
  web/src/lib/hooks/useDeviceCapabilities.ts
  web/src/lib/syncManager.ts
  web/src/lib/themeContext.tsx
  web/src/serviceWorker.ts
  web/src/serviceWorkerRegistration.ts
  web/src/styles/README.md
  web/src/styles/fonts.css
  web/src/styles/ios-tokens.css
  web/tailwind.config.cjs
  web/tsconfig.json
Owners: @username/ptchampion-admin, @username/web-team

Auto-commit: Sun May 11 13:52:31 EDT 2025
  web/src/App.tsx
  web/src/backup/PullupTracker.tsx
  web/src/backup/PushupTracker.tsx
  web/src/backup/RunningTracker.tsx
  web/src/backup/SitupTracker.tsx
  web/src/backup/index.tsx
  web/src/components/SyncIndicator.tsx
  web/src/components/ui/metric-card.tsx
  web/src/grading/ExerciseGrader.ts
  web/src/grading/PullupGrader.ts
  web/src/grading/PushupGrader.ts
  web/src/grading/README.md
  web/src/grading/RunningGrader.ts
  web/src/grading/SitupGrader.ts
  web/src/grading/index.ts
  web/src/index.css
  web/src/pages/Dashboard.tsx
  web/src/pages/Exercises.tsx
  web/src/pages/History.tsx
  web/src/pages/Leaderboard.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/RunningTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/pages/trackers/__tests__/PushupTracker.test.tsx
  web/src/services/PoseDetectorService.ts
  web/src/services/PoseLandmarkIndex.ts
  web/src/services/README.md
  web/src/services/index.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
  web/src/viewmodels/TrackerViewModel.ts
Owners: @username/web-team

Auto-commit: Sun May 11 13:52:31 EDT 2025
  web/src/App.tsx
  web/src/backup/PullupTracker.tsx
  web/src/backup/PushupTracker.tsx
  web/src/backup/RunningTracker.tsx
  web/src/backup/SitupTracker.tsx
  web/src/backup/index.tsx
  web/src/components/SyncIndicator.tsx
  web/src/components/ui/metric-card.tsx
  web/src/grading/ExerciseGrader.ts
  web/src/grading/PullupGrader.ts
  web/src/grading/PushupGrader.ts
  web/src/grading/README.md
  web/src/grading/RunningGrader.ts
  web/src/grading/SitupGrader.ts
  web/src/grading/index.ts
  web/src/index.css
  web/src/pages/Dashboard.tsx
  web/src/pages/Exercises.tsx
  web/src/pages/History.tsx
  web/src/pages/Leaderboard.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/RunningTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/pages/trackers/__tests__/PushupTracker.test.tsx
  web/src/services/PoseDetectorService.ts
  web/src/services/PoseLandmarkIndex.ts
  web/src/services/README.md
  web/src/services/index.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
  web/src/viewmodels/TrackerViewModel.ts
Owners: @username/web-team

Auto-commit: Sun May 11 15:36:04 EDT 2025
  web/README-MediaPipe.md
  web/package.json
  web/src/App.tsx
  web/src/assets/icons.tsx
  web/src/components/ExerciseCalibrationExample.tsx
  web/src/components/HolisticCalibration.tsx
  web/src/components/MediaPipeHolisticSetup.tsx
  web/src/components/PullupAnalyzerDemo.tsx
  web/src/components/PullupFormVisualizer.tsx
  web/src/components/PushupAnalyzerDemo.tsx
  web/src/components/PushupFormVisualizer.tsx
  web/src/components/SitupAnalyzerDemo.tsx
  web/src/components/SitupFormVisualizer.tsx
  web/src/components/WasmGradingExample.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/icon.tsx
  web/src/grading/APFTScoring.ts
  web/src/grading/PullupAnalyzer.ts
  web/src/grading/PullupGrader.ts
  web/src/grading/PushupAnalyzer.ts
  web/src/grading/PushupGrader.ts
  web/src/grading/README.md
  web/src/grading/RepCounter.ts
  web/src/grading/RepCounterAdapter.ts
  web/src/grading/SitupAnalyzer.ts
  web/src/grading/SitupGrader.ts
  web/src/grading/index.ts
  web/src/grading/mathUtils.ts
  web/src/lib/featureFlags.tsx
  web/src/lib/gradingWasm.ts
  web/src/lib/types.ts
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/types/mediapipe.d.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
Owners: @username/web-team

Auto-commit: Sun May 11 15:36:04 EDT 2025
  web/README-MediaPipe.md
  web/package.json
  web/src/App.tsx
  web/src/assets/icons.tsx
  web/src/components/ExerciseCalibrationExample.tsx
  web/src/components/HolisticCalibration.tsx
  web/src/components/MediaPipeHolisticSetup.tsx
  web/src/components/PullupAnalyzerDemo.tsx
  web/src/components/PullupFormVisualizer.tsx
  web/src/components/PushupAnalyzerDemo.tsx
  web/src/components/PushupFormVisualizer.tsx
  web/src/components/SitupAnalyzerDemo.tsx
  web/src/components/SitupFormVisualizer.tsx
  web/src/components/WasmGradingExample.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/icon.tsx
  web/src/grading/APFTScoring.ts
  web/src/grading/PullupAnalyzer.ts
  web/src/grading/PullupGrader.ts
  web/src/grading/PushupAnalyzer.ts
  web/src/grading/PushupGrader.ts
  web/src/grading/README.md
  web/src/grading/RepCounter.ts
  web/src/grading/RepCounterAdapter.ts
  web/src/grading/SitupAnalyzer.ts
  web/src/grading/SitupGrader.ts
  web/src/grading/index.ts
  web/src/grading/mathUtils.ts
  web/src/lib/featureFlags.tsx
  web/src/lib/gradingWasm.ts
  web/src/lib/types.ts
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/types/mediapipe.d.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
Owners: @username/web-team

Auto-commit: Sun May 11 18:05:00 EDT 2025
  web/src/backup/PullupTracker.tsx
  web/src/backup/PushupTracker.tsx
  web/src/backup/RunningTracker.tsx
  web/src/backup/SitupTracker.tsx
  web/src/backup/index.tsx
  web/src/grading/RepCounterAdapter.ts
  web/src/pages/__tests__/Leaderboard.test.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/serviceWorker.ts
  web/src/serviceWorkerRegistration.ts
Owners: @username/web-team

Auto-commit: Sun May 11 18:05:00 EDT 2025
  web/src/backup/PullupTracker.tsx
  web/src/backup/PushupTracker.tsx
  web/src/backup/RunningTracker.tsx
  web/src/backup/SitupTracker.tsx
  web/src/backup/index.tsx
  web/src/grading/RepCounterAdapter.ts
  web/src/pages/__tests__/Leaderboard.test.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/serviceWorker.ts
  web/src/serviceWorkerRegistration.ts
Owners: @username/web-team

Auto-commit: Sun May 11 18:42:30 EDT 2025
  src/components/MediaPipeHolisticSetup.tsx.new
  web/README-MediaPipe.md
  web/package.json
  web/pnpm-lock.yaml
  web/scripts/fixAnyTypes.js
  web/scripts/fixFontConflicts.js
  web/scripts/fixTailwindClasses.js
  web/scripts/fixTsComments.js
  web/scripts/removeUnusedImports.js
  web/scripts/removeUnusedVariables.js
  web/scripts/setup-lint-tools.js
  web/src/App.tsx
  web/src/components/ExerciseCalibrationExample.tsx
  web/src/components/HolisticCalibration.tsx
  web/src/components/MediaPipeHolisticSetup.tsx
  web/src/components/PullupAnalyzerDemo.tsx
  web/src/components/PushupAnalyzerDemo.tsx
  web/src/components/SitupAnalyzerDemo.tsx
  web/src/components/WorkoutChart.tsx
  web/src/lib/contexts/PoseContext.tsx
  web/src/lib/hooks/usePoseDetector.ts
  web/src/lib/types.ts
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/services/PoseDetectorService.ts
  web/src/services/index.ts
  web/src/services/poseDetector.ts
  web/src/services/usePoseDetector.ts
  web/src/types/mediapipe.d.ts
  web/src/viewmodels/PullupTrackerViewModel.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
  web/src/viewmodels/SitupTrackerViewModel.ts
Owners: @username/ptchampion-admin, @username/web-team

Auto-commit: Sun May 11 18:42:30 EDT 2025
  src/components/MediaPipeHolisticSetup.tsx.new
  web/README-MediaPipe.md
  web/package.json
  web/pnpm-lock.yaml
  web/scripts/fixAnyTypes.js
  web/scripts/fixFontConflicts.js
  web/scripts/fixTailwindClasses.js
  web/scripts/fixTsComments.js
  web/scripts/removeUnusedImports.js
  web/scripts/removeUnusedVariables.js
  web/scripts/setup-lint-tools.js
  web/src/App.tsx
  web/src/components/ExerciseCalibrationExample.tsx
  web/src/components/HolisticCalibration.tsx
  web/src/components/MediaPipeHolisticSetup.tsx
  web/src/components/PullupAnalyzerDemo.tsx
  web/src/components/PushupAnalyzerDemo.tsx
  web/src/components/SitupAnalyzerDemo.tsx
  web/src/components/WorkoutChart.tsx
  web/src/lib/contexts/PoseContext.tsx
  web/src/lib/hooks/usePoseDetector.ts
  web/src/lib/types.ts
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/src/services/PoseDetectorService.ts
  web/src/services/index.ts
  web/src/services/poseDetector.ts
  web/src/services/usePoseDetector.ts
  web/src/types/mediapipe.d.ts
  web/src/viewmodels/PullupTrackerViewModel.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
  web/src/viewmodels/SitupTrackerViewModel.ts
Owners: @username/ptchampion-admin, @username/web-team

Auto-commit: Sun May 11 18:43:21 EDT 2025
  web/.gitignore
Owners: @username/web-team

Auto-commit: Sun May 11 18:43:21 EDT 2025
  web/.gitignore
Owners: @username/web-team

Auto-commit: Sun May 11 18:46:22 EDT 2025
  web/src/services/PoseDetectorService.ts
  web/src/services/poseDetector.ts
Owners: @username/web-team

Auto-commit: Sun May 11 18:46:22 EDT 2025
  web/src/services/PoseDetectorService.ts
  web/src/services/poseDetector.ts
Owners: @username/web-team

Auto-commit: Sun May 11 18:50:01 EDT 2025
  web/src/lib/hooks/usePoseDetector.ts
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/services/usePoseDetector.ts
  web/src/viewmodels/PullupTrackerViewModel.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
  web/src/viewmodels/SitupTrackerViewModel.ts
Owners: @username/web-team

Auto-commit: Sun May 11 18:50:01 EDT 2025
  web/src/lib/hooks/usePoseDetector.ts
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/services/usePoseDetector.ts
  web/src/viewmodels/PullupTrackerViewModel.ts
  web/src/viewmodels/PushupTrackerViewModel.ts
  web/src/viewmodels/SitupTrackerViewModel.ts
Owners: @username/web-team

Auto-commit: Sun May 11 19:34:02 EDT 2025
  web/src/components/ui/DeveloperMenu.tsx
  web/src/index.css
  web/src/main.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
Owners: @username/web-team

Auto-commit: Sun May 11 19:34:02 EDT 2025
  web/src/components/ui/DeveloperMenu.tsx
  web/src/index.css
  web/src/main.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
Owners: @username/web-team

Auto-commit: Sun May 11 20:11:59 EDT 2025
  web/src/App.tsx
  web/src/components/auth/ProtectedRoute.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/DeveloperMenu.tsx
  web/src/components/ui/input.tsx
  web/src/index.css
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Sun May 11 20:11:59 EDT 2025
  web/src/App.tsx
  web/src/components/auth/ProtectedRoute.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/DeveloperMenu.tsx
  web/src/components/ui/input.tsx
  web/src/index.css
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Sun May 11 21:13:29 EDT 2025
  web/src/App.tsx
  web/src/components/UnsupportedFeature.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/alert.tsx
  web/src/components/ui/badge.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/metric-card.tsx
  web/src/components/ui/separator.tsx
  web/src/components/ui/theme.css
  web/src/dashboard-message-context.tsx
  web/src/index.css
  web/src/lib/themeContext.tsx
  web/src/pages/Dashboard.tsx
  web/src/styles/ios-tokens.css
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Sun May 11 21:13:29 EDT 2025
  web/src/App.tsx
  web/src/components/UnsupportedFeature.tsx
  web/src/components/layout/DesktopLayout.tsx
  web/src/components/layout/MobileLayout.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/alert.tsx
  web/src/components/ui/badge.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/metric-card.tsx
  web/src/components/ui/separator.tsx
  web/src/components/ui/theme.css
  web/src/dashboard-message-context.tsx
  web/src/index.css
  web/src/lib/themeContext.tsx
  web/src/pages/Dashboard.tsx
  web/src/styles/ios-tokens.css
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Sun May 11 21:28:39 EDT 2025
  web/src/App.tsx
  web/src/components/workout/HUD.tsx
  web/src/components/workout/SessionControls.tsx
  web/src/pages/WorkoutComplete.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Sun May 11 21:28:39 EDT 2025
  web/src/App.tsx
  web/src/components/workout/HUD.tsx
  web/src/components/workout/SessionControls.tsx
  web/src/pages/WorkoutComplete.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
  web/tailwind.config.cjs
Owners: @username/web-team

Auto-commit: Sun May 11 21:46:41 EDT 2025
  web/cypress/e2e/history.cy.ts
  web/docs/HISTORY.md
  web/src/App.tsx
  web/src/components/workout-history/HistoryFilterBar.tsx
  web/src/components/workout-history/InfiniteScrollSentinel.tsx
  web/src/components/workout-history/StreakBanner.tsx
  web/src/components/workout-history/WorkoutCard.tsx
  web/src/components/workout-history/__tests__/WorkoutCard.test.tsx
  web/src/lib/hooks/useInfiniteHistory.ts
  web/src/pages/HistoryDetail.tsx
  web/src/pages/WorkoutHistoryView.tsx
Owners: @username/web-team

Auto-commit: Sun May 11 21:46:41 EDT 2025
  web/cypress/e2e/history.cy.ts
  web/docs/HISTORY.md
  web/src/App.tsx
  web/src/components/workout-history/HistoryFilterBar.tsx
  web/src/components/workout-history/InfiniteScrollSentinel.tsx
  web/src/components/workout-history/StreakBanner.tsx
  web/src/components/workout-history/WorkoutCard.tsx
  web/src/components/workout-history/__tests__/WorkoutCard.test.tsx
  web/src/lib/hooks/useInfiniteHistory.ts
  web/src/pages/HistoryDetail.tsx
  web/src/pages/WorkoutHistoryView.tsx
Owners: @username/web-team
