Repository toole-brendan/ptchampion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username/ptchampion-admin, @username/backend-team, @username/web-team, @username/ios-team, @username/android-team, @username/devops-team

Auto-commit: Tue May 13 20:42:23 EDT 2025
  apply_username_display_migration.sh
  fix_arrow_spacing.sh
  fix_syntax_issues.sh
  fix_theme_colors.sh
  internal/api/handlers/user_handler.go
  internal/store/postgres/store.go
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  sql/migrations/set_display_name_from_username.sql
  web/src/components/layout/TopNavBar.tsx
  web/src/constants/navigation.tsx
  web/src/lib/types.ts
  web/src/pages/Dashboard.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/src/pages/auth/RegisterDebug.tsx
Owners: @username/ptchampion-admin, @username/backend-team, @username/ios-team, @username/web-team

Auto-commit: Tue May 13 20:42:23 EDT 2025
  apply_username_display_migration.sh
  fix_arrow_spacing.sh
  fix_syntax_issues.sh
  fix_theme_colors.sh
  internal/api/handlers/user_handler.go
  internal/store/postgres/store.go
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  sql/migrations/set_display_name_from_username.sql
  web/src/components/layout/TopNavBar.tsx
  web/src/constants/navigation.tsx
  web/src/lib/types.ts
  web/src/pages/Dashboard.tsx
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/src/pages/auth/RegisterDebug.tsx
Owners: @username/ptchampion-admin, @username/backend-team, @username/ios-team, @username/web-team

Remove developer menu functionality and fix RegisterDebug email field
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/Register.tsx
  web/src/pages/auth/RegisterDebug.tsx
Owners: @username/web-team

Fix submodule issues and update .gitignore to exclude Swift build directories
  .gitignore
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/FETCH_HEAD
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/HEAD
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/config
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/description
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/applypatch-msg.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/commit-msg.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/fsmonitor-watchman.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/post-update.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/pre-applypatch.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/pre-commit.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/pre-merge-commit.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/pre-push.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/pre-rebase.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/pre-receive.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/prepare-commit-msg.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/push-to-checkout.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/hooks/update.sample
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/info/exclude
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/objects/pack/pack-771547e8bae0919f3348289cc344ad5351a6cc85.idx
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/objects/pack/pack-771547e8bae0919f3348289cc344ad5351a6cc85.pack
  ios/PTDesignSystem/.build/repositories/SwiftUI-Introspect-30ab3549/packed-refs
  ios/PTDesignSystem/.build/workspace-state.json
Owners: @username/ptchampion-admin, @username/ios-team

Auto-commit: Tue May 13 21:33:24 EDT 2025
  web/Dockerfile
  web/nginx.conf
  web/src/components/layout/MobileLayout.tsx
  web/src/components/workout/SessionControls.tsx
  web/src/index.css
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
Owners: @username/web-team

Auto-commit: Tue May 13 22:00:17 EDT 2025
  web/src/components/workout/SessionControls.tsx
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
Owners: @username/web-team

Auto-commit: Wed May 14 18:37:15 EDT 2025
  apply_name_migration.sh
  internal/api/handlers/helpers.go
  internal/api/handlers/leaderboard_handler.go
  internal/store/postgres/exercise.sql.go
  internal/store/postgres/leaderboard.sql.go
  internal/store/postgres/models.go
  internal/store/postgres/store.go
  internal/store/postgres/user.sql.go
  internal/store/postgres/user_store_test.go
  internal/store/store.go
  internal/users/service.go
  sql/migrations/202505141730_add_first_last_name.down.sql
  sql/migrations/202505141730_add_first_last_name.up.sql
  sql/queries/exercise.sql
  sql/queries/leaderboard.sql
  sql/queries/user.sql
  sql/schema/000_schema_for_sqlc.sql
  sql/schema/schema.sql
Owners: @username/ptchampion-admin, @username/backend-team

Auto-commit: Wed May 14 18:49:00 EDT 2025
  web/cypress/e2e/leaderboard.cy.ts
  web/src/components/workout/SessionControls.tsx
  web/src/index.css
  web/src/pages/exercises/PullupTracker.tsx
  web/src/pages/exercises/PushupTracker.tsx
  web/src/pages/exercises/SitupTracker.tsx
Owners: @username/web-team

Auto-commit: Wed May 14 19:22:55 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
Owners: @username/ios-team

Auto-commit: Wed May 14 19:32:38 EDT 2025
  ios/ptchampion/ViewModels/AuthViewModel.swift
Owners: @username/ios-team

Auto-commit: Wed May 14 20:04:41 EDT 2025
  ios/LeaderboardView.txt
  ios/ProfileView.txt
  ios/WorkoutHistoryView.txt
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
Owners: @username/ios-team, @username/web-team

Auto-commit: Wed May 14 20:19:40 EDT 2025
  ios/LeaderboardView.txt
  ios/ProfileView.txt
  ios/ScreenLayout.txt
  ios/WorkoutHistoryView.txt
  ios/ptchampion/Views/History/ExerciseFilterBarView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Layout/ScreenLayout.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Wed May 14 20:26:31 EDT 2025
  web/src/components/layout/MobileLayout.tsx
  web/src/pages/Dashboard.tsx
Owners: @username/web-team

Auto-commit: Wed May 14 20:47:20 EDT 2025
  ios/EmptyHistoryDisplayView.txt
  ios/WorkoutHistoryView.txt
  ios/ptchampion/Views/History/EmptyHistoryDisplayView.swift
  ios/ptchampion/Views/History/WorkoutChartView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/History/WorkoutStreaksView.swift
  ios/ptchampion/Views/WorkoutHistoryView.swift.backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Wed May 14 21:00:15 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
Owners: @username/ios-team

Auto-commit: Wed May 14 21:01:31 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
Owners: @username/ios-team

Auto-commit: Wed May 14 21:14:25 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
Owners: @username/ios-team

Auto-commit: Wed May 14 21:30:53 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Layout/ScreenLayout.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
Owners: @username/ios-team

Auto-commit: Wed May 14 21:40:09 EDT 2025
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Layout/ScreenLayout.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
Owners: @username/ios-team

Auto-commit: Wed May 14 21:47:00 EDT 2025
  web/src/pages/Dashboard.tsx
Owners: @username/web-team

Auto-commit: Wed May 14 22:28:22 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/ptchampion-Info.plist
  ios/ptchampion/ptchampion.entitlements
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Fri May 16 08:25:49 EDT 2025
  ios/PTDesignSystem/.swiftpm/xcode/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/PTDesignSystem/Sources/DesignTokens/Generated/AppTheme+Generated.swift
  ios/fix_background_modes.sh
  ios/fix_provisioning.sh
  ios/manually_sign.sh
  ios/ptchampion/ExportOptions.plist
  ios/ptchampion/FontDeclaration.plist
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/SupportingFiles/Info.plist
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Dashboard/QuickLinkCardView.swift
  ios/ptchampion/build.sh
  ios/ptchampion/full_entitlements.entitlements
  ios/ptchampion/ptchampion-Info.plist
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.backup
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj.bak
  ios/ptchampion/ptchampion.xcodeproj/xcuserdata/brendantoole.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/ptchampion/recreate_app_id.sh
  ptchampion.entitlements
Owners: @username/ios-team, @username/ptchampion-admin

Auto-commit: Fri May 16 09:34:30 EDT 2025
  ios/ptchampion/Models/ActivityFeedItem.swift
  ios/ptchampion/ViewModels/DashboardViewModel.swift
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Shared/MetricData.swift
Owners: @username/ios-team

Auto-commit: Fri May 16 10:01:28 EDT 2025
  ios/ptchampion/Views/Dashboard/DashboardView.swift
  ios/ptchampion/Views/Dashboard/QuickLinkCardView.swift
  ios/ptchampion/Views/History/WorkoutChartView.swift
  ios/ptchampion/Views/History/WorkoutHistoryView.swift
  ios/ptchampion/Views/Leaderboards/LeaderboardView.swift
  ios/ptchampion/Views/Profile/ProfileView.swift
Owners: @username/ios-team

Auto-commit: Fri May 16 11:18:31 EDT 2025
  ios/ptchampion/Views/Profile/ProfileView.swift
  ios/ptchampion/Views/Profile/SettingsView.swift
Owners: @username/ios-team

Auto-commit: Fri May 16 11:26:04 EDT 2025
  ios/ptchampion/Views/Profile/ProfileView.swift
  ios/ptchampion/Views/Profile/SettingsView.swift
Owners: @username/ios-team

Auto-commit: Fri May 16 11:39:40 EDT 2025
  ios/ptchampion/Views/Profile/SettingsView.swift
  web/public/privacy.html
  web/public/terms.html
Owners: @username/ios-team, @username/web-team

Auto-commit: Fri May 16 11:50:37 EDT 2025
  internal/auth/token.go
Owners: @username/backend-team

Auto-commit: Fri May 16 12:05:41 EDT 2025
  internal/api/routes/auth.go
  internal/api/routes/routes.go
  ios/ptchampion/FontDeclaration.plist
  ios/ptchampion/PTChampionApp.swift.backup
  ios/ptchampion/PTChampionApp.swift.logs_backup
  ios/ptchampion/PTChampionApp.swift.original
  ios/ptchampion/Services/AuthService.swift
  ios/ptchampion/Services/AuthServiceProtocol.swift
  ios/ptchampion/SupportingFiles/ExportOptions.plist
  ios/ptchampion/SupportingFiles/Info.plist
  ios/ptchampion/SupportingFiles/PTChampion.entitlements
  ios/ptchampion/SupportingFiles/PrivacyInfo.xcprivacy
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/Views/Authentication/RegistrationView.swift.bak
  ios/ptchampion/full_entitlements.entitlements
  ios/ptchampion/ptchampion.entitlements
  web/src/App.tsx
  web/src/lib/apiClient.ts
  web/src/lib/authContext.tsx
  web/src/lib/types.ts
  web/src/pages/auth/Login.tsx
  web/src/pages/auth/OAuthCallback.tsx
  web/src/pages/auth/index.ts
Owners: @username/backend-team, @username/ios-team, @username/web-team

Auto-commit: Fri May 16 12:09:01 EDT 2025
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
Owners: @username/ios-team

Auto-commit: Fri May 16 13:44:37 EDT 2025
  apply-social-accounts-migration.js
  internal/api/routes/auth.go
  internal/api/routes/routes.go
  internal/auth/social.go
  internal/config/config.go
  internal/store/user.go
  ios/ptchampion/SupportingFiles/Info.plist
  package-lock.json
  package.json
  sql/migrations/202505161200_add_social_accounts_table.down.sql
  sql/migrations/202505161200_add_social_accounts_table.up.sql
  test-db/check-tables.js
  test-db/package-lock.json
  test-db/package.json
  test-db/run-migration.js
  test-db/test-connection.js
Owners: @username/ptchampion-admin, @username/backend-team, @username/ios-team, @username/web-team

Update .gitignore to exclude private keys
  .gitignore
Owners: @username/ptchampion-admin

Auto-commit: Fri May 16 14:00:25 EDT 2025
  internal/api/handlers/apple_oauth.go
  internal/api/handlers/google_oauth.go
  internal/api/router.go
  internal/api/routes/auth.go
  internal/api/routes/routes.go
  internal/store/postgres/store.go
  internal/store/store.go
  internal/store/user.go
Owners: @username/backend-team

Auto-commit: Fri May 16 14:08:53 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  web/src/components/auth/SocialLoginButtons.tsx
  web/src/pages/auth/Login.tsx
Owners: @username/ios-team, @username/web-team

Auto-commit: Fri May 16 14:09:38 EDT 2025
  ios/ptchampion/Views/Authentication/LoginView.swift
Owners: @username/ios-team

Auto-commit: Fri May 16 14:21:50 EDT 2025
  ios/ptchampion/ViewModels/AuthViewModel.swift
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  ios/ptchampion/ptchampion.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @username/ios-team

Auto-commit: Fri May 16 15:16:45 EDT 2025
  ios/ptchampion/PTChampionApp.swift
  ios/ptchampion/Resources/Fonts/Jost-400-Book.ttf
  ios/ptchampion/Resources/Fonts/Jost-500-Medium.ttf
  ios/ptchampion/Resources/Fonts/Jost-700-Bold.ttf
  ios/ptchampion/SupportingFiles/Info.plist
  ios/ptchampion/Views/Authentication/LoginView.swift
  ios/ptchampion/ptchampion.xcodeproj/project.pbxproj
  web/src/components/auth/SocialLoginButtons.tsx
  web/src/pages/auth/Login.tsx
Owners: @username/ios-team, @username/web-team

.github/CODEOWNERS:

# PT Champion CODEOWNERS file
# This file determines who gets automatically requested for review on PRs

# Global owners (fallback reviewers)
*       @username/ptchampion-admin

# Backend code
/cmd/           @username/backend-team
/internal/      @username/backend-team
/pkg/           @username/backend-team
/db/            @username/backend-team
/sql/           @username/backend-team
/Dockerfile     @username/backend-team
/docker-compose.yml @username/backend-team
/openapi.yaml   @username/backend-team @username/web-team
/go.mod         @username/backend-team
/go.sum         @username/backend-team
/Makefile       @username/backend-team

# Web frontend
/web/           @username/web-team
/vite.config.ts @username/web-team
/tsconfig.json  @username/web-team
/tailwind.config.cjs @username/web-team
/postcss.config.cjs @username/web-team
/package.json   @username/web-team
/package-lock.json @username/web-team

# iOS app
/ios/           @username/ios-team

# Android app
/android/       @username/android-team
/PTChampion-Kotlin/ @username/android-team

# Shared resources
/shared/        @username/backend-team @username/web-team
/assets/        @username/web-team @username/ios-team @username/android-team

# DevOps and CI
/.github/       @username/devops-team
/.devcontainer.json @username/devops-team

# Documentation
/docs/          @username/ptchampion-admin
/README.md      @username/ptchampion-admin
/*.md           @username/ptchampion-admin
